[2017-05-21 00:22] ksobon commented on #1678
@eibre yes, that particular error would be addressed by that PR, but it would generate a different error:

![image](https://cloud.githubusercontent.com/assets/529781/26280237/d9764c86-3d98-11e7-8457-0c505944715d.png)

Detail Line creation is constrained to certain "annotation" view types. Area View is not one of them just yet. I will add that to the PR i submitted so that we can do this:

![image]

[2017-05-21 00:47] ksobon commented on #1663
@andydandy74 did we miss any more of these?

[2017-05-21 05:24] eibre commented on #1663
@andydandy74 What about the good old Element.GetParameterValueByName? Is it the only exception?

[2017-05-21 13:09] andydandy74 commented on #1663
@ksobon - These are the ones I had found:
- Element.GetCategory
- Element.GetLocation
- Element.GetMaterials
- FamilyInstance.GetFamily
- FamilyInstance.GetHost
- FamilyInstance.GetType
- FillPatternElement.GetByName
- LinePatternElement.GetByName

@eibre - Element.GetParameterValueByName is technically not a Property node but an Actions node in that it expects a second argument. Also, I think peo

[2017-05-21 13:12] andydandy74 commented on #1680
German locale perhaps?

[2017-05-21 13:14] ksobon commented on #1663
Well @andydandy74 I would love to go after these, but I need a little example from @mjkkirschner or someone on the dev team on how to handle migrations for ZT nodes. Changing a name of the node, will break old definitions so we need to address that...

[2017-05-21 13:16] ksobon commented on #1680
@andydandy74 german local should not play a role. Categories are compared by their `Id` - integer value.

[2017-05-21 17:30] eibre commented on #1663
@andydandy74 from the naming standard:

[2017-05-21 18:44] ksobon commented on #1644
So this should be fixed now with this PR: https://github.com/DynamoDS/DynamoRevit/pull/1672
It was because `Sheet` was inheriting directly from the `Element` class, rather than from the `View` class.

[2017-05-21 19:42] andydandy74 commented on #1680
@ksobon any other obvious differences between your setup and mine?

[2017-05-21 20:14] andydandy74 commented on #1663
@eibre yeah I saw that one, too. Decided to go with the first rule, though... ;-)

[2017-05-21 20:52] ksobon commented on #1663
I would say something like `Location` does make sense to do Get/Set because you can do both with the same/similar API calls. Other things like `Category` is read only and to set a category on a family is a totally different process. Again, get/set for parameters makes sense, but not for `getType` because the Type gets set via parameter....so on and so on.

[2017-05-21 21:01] andydandy74 commented on #1663
Sure about that? If we follow that logic we can start renaming all the XXX.Name nodes to XXX.GetName as well... ;-)

[2017-05-21 21:05] ksobon commented on #1663
That should all be handled in a single `Element.Name` node...I am not sure why we even have all of these nodes in there...and yes, I know that some element types won't return a name that way, but majority does, and we can handle the rest internally....i think.

[2017-05-21 21:35] eibre commented on #1663
Interesting.. there are twelve *.Name nodes and only one .SetName node (Room.SetName). I totally agree that _one_ Element.Name and _one_ Element.SetName should be enough.

[2017-05-21 21:42] eibre commented on #1663
By the way, some of the new nodes are in the wrong subcategories as well:
![image](https://cloud.githubusercontent.com/assets/5968613/26287586/197ee00e-3e7f-11e7-9230-e240c15790a8.png)

[2017-05-21 23:43] ksobon commented on #997
I am not seeing that same behavior.

![image](https://cloud.githubusercontent.com/assets/529781/26288335/c8358a02-3e5d-11e7-85ab-0d7c0481b8eb.png)

Is this still an issue in 1.3?

[2017-05-21 23:46] ksobon commented on #1093
This was a FilePath node issue and not a DynamoRevit related one. @kronz can we close this? I think it was solved in 1.3 anyways. If not, let's move this to Dynamo github.

[2017-05-21 23:47] ksobon commented on #1337
@paoloemilioserra is this still an issue? Dynamo 1.3.

[2017-05-21 23:50] ksobon commented on #1507
cc: @kronz can we close this? This isn't an issue. It's an expected behavior.

[2017-05-21 23:54] ksobon commented on #1621
Have a look at this: http://blog.coultard.com/2012/01/fix-windows-error-0x80070718-not-enough.html and this: http://stackoverflow.com/questions/20964360/not-enough-quota-is-available-to-process-this-command-wpf

[2017-05-21 23:58] ksobon commented on #1395
@mjkkirschner do you know what the "read only issue" refers to? I can think of `Element.SetParameterValueByName` having trouble getting the right parameter if there are multiple with the same name and throwing this exception when it makes a wrong choice. Is that what you are referring to?

[2017-05-21 23:59] mjkkirschner commented on #1395
@ksobon yep - this should be fixed now.

[2017-05-22 00:07] ksobon commented on #1395
@kronz can we close this?

[2017-05-22 09:54] ThomasMahon commented on #1644
Cheers. I'd be interested to know what the standards are for submitting PRs to the Dynamo GitHub - are there any resources or contacts I should speak to? I'll close this one out.

[2017-05-22 12:28] #1395 closed

[2017-05-22 12:30] #1507 closed

[2017-05-22 12:31] kronz commented on #1093
@jnealb could you do me a favor and verify this is fixed in 1.3?  Close if it is?  thanks!

[2017-05-22 17:41] Racel commented on #1674
Closing this task as @ksobon's fix has been merged into master and will be part of the next release.

[2017-05-22 17:41] #1674 closed

[2017-05-22 17:58] paoloemilioserra commented on #1337
Unfortunately I cannot say

[2017-05-22 17:59] ksobon commented on #1337
@kronz can we close this?

[2017-05-22 18:12] #1337 closed

[2017-05-22 18:21] frothey commented on #1678
@ksobon Any timeframe on when area views will be added to DetailCurve.ByCurve?

[2017-05-22 18:40] ksobon commented on #1678
it's all in the same PR. so whenever that gets pulled in, it will be available in the next release. Or if you are adventurous you can pull down the source and build from branch that has the fix.

[2017-05-22 20:27] ThomasMahon commented on #997
It's still an issue in 1.3 if this is anything to go by:

![image](https://cloud.githubusercontent.com/assets/18601851/26326941/6279f4f4-3f35-11e7-83f5-ad6efa50eb5d.png)

[2017-05-22 20:44] ThomasMahon commented on #997
I just noticed you are using `Object.Equals` instead of `==` (from the Operators library), which does work. Two nodes to do the same thing seems odd. In any case, I would expect both to give the same result since either node accepts any type.

[2017-05-22 21:10] ksobon commented on #997
yes, and no. it's good coding practice to override the `==` operator if one overrides the `Equals`. It seems like that is not the case with Dynamo and particularly this `ElementType` object. I can fix that. Thanks for catching. cc: @mjkkirschner @jnealb

[2017-05-23 02:36] ksobon commented on #997
@ThomasMahon actually that I have looked at this there is nothing wrong with the current implementation: like I said before `==` and `Equals` are two different methods that check two different things.

Official MSDN documentation:

_In C#, there are two different kinds of equality: reference equality and value equality. Value equality is the commonly understood meaning of equality: it means that t

[2017-05-23 03:45] ksobon commented on #1406
@kronz do you agree that the `Get Family Parameter` node should actually be returning a parameter? Here's an example of what that would look like:

![image](https://cloud.githubusercontent.com/assets/529781/26337695/99485e22-3f48-11e7-839c-253636b04e75.png)

It would require changes to both the dropdown node and the `Parameter` class. I think it's worth the hassle. It should be consistent like tha

[2017-05-23 13:33] kronz commented on #1406
@ksobon I think the Get Family Parameter node has typically been used in a Get and Set Parameter workflow, and returning a Parameter would break all of these.  It might be appropriate to rename it to Get Family Parameter Name, I suppose, but not to change it's function.
![2017-05-23_0930](https://cloud.githubusercontent.com/assets/3456818/26356666/c15cd26a-3f9a-11e7-945b-8d611456d941.png)

[2017-05-23 13:33] #1406 closed

[2017-05-23 13:58] kronz commented on #994
Sorry, we are not supporting 0.6.3 anymore, please update to a more recent version.  Thanks

[2017-05-23 13:58] #994 closed

[2017-05-23 14:00] kronz commented on #1008
Please upgrade to the latest version, stability is much better now.

[2017-05-23 14:00] #1008 closed

[2017-05-23 21:34] sixtysecondrevit commented on #1673
Might be a little off-topic and not a perfect solution. But, I added a "bake" node in Beaker to achieve this result when I am finished creating elements. Essentially it copies the element in place and deletes the "attached to Dynamo" one through the use of a toggle. Perhaps the Dynamo team provided solution can be another node that breaks the relationship?
![20170523-bakeelements](https://cloud.gi

[2017-05-24 04:01] aparajit-pratap commented on #1668
@jnealb @riteshchandawar now that we have one more window for release 1.3.1, can we cross-merge these fixes into RC1.3.1 branch?

[2017-05-24 06:49] andydandy74 commented on #1673
Like an Element.RemoveBinding node? That would be sweet!

[2017-05-24 07:35] riteshchandawar commented on #1668
@aparajit-pratap Only changes related to Player should go in nothing else because we are not going to publish this installer on DynamoBuilds site, so to remain in sync with 1.3.0 we should not have any functionality changes. Does that make sense?

[2017-05-24 15:06] jnealb commented on #1093
@kronz It is fixed in 1.3, closing.

![driveisdiff](https://cloud.githubusercontent.com/assets/9357222/26410383/15e4e6de-4071-11e7-99ed-f98167826345.jpg)

[2017-05-24 15:06] #1093 closed

[2017-05-24 15:18] jnealb commented on #1673
Pandora or Icarus? Which myth is best here?

[2017-05-24 15:23] sixtysecondrevit commented on #1673
@kronz
_Advantages and disadvantages of an Application level setting, Document setting, or Node setting to allow or disallow binding_
**I see more disadvantages as people would forget that this feature is activated**

_Are there times when you want to have element binding and then at some point disconnect created elements from the nodes that created them (argues for a per-node "flush" or "clear" m

[2017-05-24 16:57] jnealb commented on #1669
@gbiallas Is this still occurring for you? If so, can you please run DxDiag and send us the output, as a file? Thanks.

[2017-05-24 17:00] jnealb commented on #1664
@andydandy74 Can we ask you to check this in other locales, for example French or Spanish? Is it limited to German?

[2017-05-24 17:05] jnealb commented on #1653
@ksobon Can you please be more specific about how the unit conversion node is not precise?

[2017-05-24 17:07] jnealb commented on #1645
@kronz Ping.

[2017-05-24 17:10] gbiallas commented on #1669
Looks like it's still happening. Just to be clear on the file you're looking for, do you want the results from the DirectX Diagnostic Tool as a file?

[2017-05-24 17:11] jnealb commented on #1669
yes, please send to neal.burnham@autodesk.com

[2017-05-24 17:46] ksobon commented on #1653
well it's not the node itself per se, but the above workflow will result in a situation where if my wall width parameter is returning values in millimeters; let's say 150. The FilterRule node expects them in feet for comparison, so now we have a situation where 150 is fed through an equation: x * 0.00328084 = 0.492126. That kind of looks all right, but if you compare two doubles against each other

[2017-05-24 18:02] jnealb commented on #1627
@lerklimenko @dimven We are aware of this issue and working to resolve it. Thanks for the feedback.

[2017-05-24 18:02] #1627 closed

[2017-05-24 18:03] jnealb commented on #1620
@loekvansteijn Have you upgraded to 1.3? Does the issue still occur with 1.3?

[2017-05-24 18:05] jnealb commented on #1448
@ETJL Have you upgraded to 1.3? Does this issue still occur?

[2017-05-24 18:07] jnealb commented on #1415
@dago2015 Have upgraded to 1.3? Does this issue still occur?

[2017-05-24 18:11] jnealb commented on #1142
@ellipsebd Have you upgraded to 1.3? Does this issue still occur?

[2017-05-24 18:12] jnealb commented on #1030
@LukeyJohnson @ksobon Do we have an update on this issue? Can we close this?

[2017-05-24 18:17] jnealb commented on #1006
@ellipsebd Is this still an issue?

[2017-05-24 20:53] ThomasMahon commented on #997
That does figure. I wasn't aware of the `Equals` node and assumed `==` node could be used regardless of value or reference.

[2017-05-24 20:53] #997 closed

[2017-05-24 21:43] eibre commented on #1680
@andydandy74 @ksobon
Looks like the fix is in the latest release yet:
![image](https://cloud.githubusercontent.com/assets/5968613/26426880/c628ec0c-40da-11e7-8475-b4f4c3c90019.png)

[2017-05-24 22:02] ksobon commented on #1680
That's the difference for sure. I am usually on the latest source build. @eibre thanks for reporting.

[2017-05-25 13:52] eibre opened #1689 "improvement request: Add wrapper for Rebar"
Many of the nodes in the [Dynamo For Revit](https://github.com/tt-acm/DynamoForRebar) package can not be used with existing Rebars selected by OOTB Dynamo nodes because they are wrapped as `Revit.Elements.UnknownElement`

The wrapper already exists in the Dynamo For Revit package, if approved by @moethu I would prefer it moved to DynamoRevit.

![image](https://cloud.githubusercontent.com/assets/59

[2017-05-26 09:04] ellipsebd commented on #1008
Hi Zach,
Thanks and it is, am using the to-date version and no prob at all!
Regards.

On Tue, May 23, 2017 at 8:00 PM, Zach Kron <notifications@github.com> wrote:

[2017-05-26 09:05] ellipsebd commented on #1142
Hi Neal,
Thanks and no issue now!

On Thu, May 25, 2017 at 12:11 AM, Neal Burnham <notifications@github.com>
wrote:

[2017-05-26 09:06] ellipsebd commented on #1006
Hi Neal,
It is not.
Thanks.

On Thu, May 25, 2017 at 12:17 AM, Neal Burnham <notifications@github.com>
wrote:

[2017-05-26 11:19] moethu commented on #1689
@eibre agree, this would be nice. Back then when I developed this package it needed to be independent of DynamoRevit, which brought some limitations. Feel free to move the wrappers to DynamoRevit.

[2017-05-26 12:50] elvarjo opened #1690 "Issue with transforming geometry between coordinate systems."
## Dynamo version

1.3.0.0

## Revit version

2017.2

## Operating system

Windows 10

## What did you do?

Transposing coordinates of geometry using Coordinate.System.Rotate and Geometry.Transform nodes.

## What did you expect to see?

Expected to see a list of coordinates relative to Project Base Point instead of Survey Point.

## What did you see instead?

Got a list of coordinates that were _

[2017-05-26 13:53] #1142 closed

[2017-05-26 13:53] #1006 closed

[2017-05-26 18:51] smangarole commented on #1690
@aparajit-pratap Can you please take a look at this issue? If you want to delegate this to me and @jnealb, please let us know. We don't know enough about this issue, which is why we want to get you involved.

[2017-05-26 18:55] smangarole commented on #1689
@kronz and @mjkkirschner : Ping.

I think we need your help in making this decision.

[2017-05-26 19:02] smangarole commented on #1680
@kronz and @mjkkirschner Ping.
Why is there a delta between the master and 1.3 release? Is the 1.3 release as designed?

[2017-05-26 19:08] smangarole commented on #1678
@kronz and @mjkkirschner - Are we planning to merge this PR?

[2017-05-26 19:12] smangarole commented on #1675
@sm6srw Ping. Can you clarify if this is as designed?

[2017-05-26 19:21] smangarole commented on #1669
@gbiallas Did you receive @jnealb emails?

[2017-05-26 19:33] smangarole commented on #1663
@Racel ping.

[2017-05-26 19:38] smangarole commented on #1662
@mjkkirschner Can you please update the status of this PR? I see you have commented on the PR.

[2017-05-26 19:51] smangarole commented on #1653
@jnealb says: It does make sense.

@kronz Ping: Is there a better way to do this?

[2017-05-26 19:57] smangarole commented on #1652
@mjkkirschner Ping.

[2017-05-26 20:01] smangarole commented on #1651
@thazell Can you please clarify what happens when the revit background preview is turned off?

[2017-05-26 20:02] thazell commented on #1651
@smangarole Everything works if the previews are turned off.

[2017-05-26 20:03] smangarole commented on #1650
@shahnizammy Can I assume we can close this issue? Please let us know.

[2017-05-26 20:06] smangarole commented on #1646
@kronz Ping. This seems to be a PM issue. Can you please comment?

[2017-05-26 20:11] smangarole commented on #1651
@thazell Thanks for the prompt reply. We are tracking this issue.

[2017-05-26 20:25] #1651 closed

[2017-05-26 21:06] kronz commented on #1646
@richschmitt can you say what versions of Revit and Dynamo this used to work in?  Wonder if we can match a change in behavior with a purposeful change somewhere else

[2017-05-26 23:24] kronz commented on #1653
Ok, the real problem here is that FilterRule.ByRuleType isn't using the built in conversion methods that all the Revit nodes should use to respect Project Units, not the internal API units, right? (Conversion node accuracy is a secondary issue here, and can MAYBE be dealt with using the Math.Round that takes numbers of digits as an additional input.) There's a couple of places where this is happen

[2017-05-26 23:44] kronz commented on #1680
The delta is the strangest part here.  Fix looks like it was merged back in January, so not sure why it isn't in 1.3 https://github.com/DynamoDS/DynamoRevit/pull/1455
@sharadkjaiswal any ideas?  I'm guessing it went into 2.0 stream and not 1.3?

[2017-05-27 17:10] richschmitt commented on #1646
The last time I remember this working was in November with Revit 2016 and Dynamo 1.2
I was able to use the "Sections" category to return all Section Views

[2017-05-28 00:17] ksobon commented on #1689
@eibre that's a good idea, but...Dynamo for Rebar is a 3rd party package. If we decide to roll that Rebar wrapper into DynamoRevit, great, but then @moethu would still have to update his package to now work with the new wrapper. There are a lot of moving parts here.

@moethu couldn't you just update your package to allow for UnknownElement input, and then feed it through your internal constructors

[2017-05-28 00:19] #1654 closed

[2017-05-28 00:23] ksobon commented on #1641
cc: @kronz Zach the PR you closed would have addressed that. I know what you stated here: https://github.com/DynamoDS/DynamoRevit/pull/1688 and I get it, but that node really does make people think that a `Parameter` object is being returned from `Get Family Parameter`. It USED to make sense before we had all of the `Parameter` functionality, but now it makes no sense.

@Chumpycmp this is happenin

[2017-05-28 00:26] ksobon commented on #1628
Dynamo Sandbox will not load any of the DynamoRevit nodes. You need to launch Dynamo from within Revit to get that package loaded.

cc: @kronz I believe there is nothing that we can do here. DynamoRevit is closely coupled with Revit, and things like DocumentManager need Revit to be able to work. Can you confirm and close?

[2017-05-28 00:28] ksobon commented on #1619
@cc: @kronz I don't see an issue here. Can we close?

[2017-05-28 00:34] ksobon commented on #1406
@kronz I disagree. The node should return `Parameter` object. `Parameter` then has a `Name` property on it for those that want to go deeper. Again, this is a remnant from past times before there was a `Parameter` wrapper. However, you guys got all the usage data. Why don't you check how much this node get's used in that setting, and what damage it would do to change its use?

[2017-05-28 07:17] ChubbyQuark commented on #1628
Hi Konrad,
I think this is an issue with my particular install of Revit. I understand that the nodes will only load when Dynamo is launched from within Revit. The issue is noes are loading but not displayed graphically in the tree. In fact this is true of all nodes, not just the added packages.

I've contacted Autodesk regarding this but haven't got an answer. I've even tried a full re-install of

[2017-05-28 07:17] #1628 closed

[2017-05-28 14:48] ksobon commented on #1628
@ChubbyQuark ah, I see. So this must be an issue with the installation. You will need to tell the guys here, exactly what version of Revit (include full build number), what version of Dynamo (also include full build number) and perhaps your system setup. Is it on Windows? If yes, what version? What Graphics Card are you running it on? If you can give them all these details, then maybe they can try

[2017-05-29 03:21] kronz commented on #1406
@ksobon Like I said, I'm all in favor of clarifying what this node does, we can at least make the output port say "string" or "name" instead of "parameter", and we could make an additional node that has the new functionality you are describing.  However it is getting used already, and pretty heavily.  The data is always a little odd to read in terms of intentions, and getting a node's neighbors is

[2017-05-29 03:23] kronz commented on #1641
Sorry for the confusion, the current behavior is "as designed", although the terms used should be modified.  Please take a look at #1406 for more discussion.

[2017-05-29 03:23] #1641 closed

[2017-05-29 03:27] kronz commented on #1619
Thanks all for the feedback, but like @ksobon says, I don't think there is a bug here.

[2017-05-29 03:27] #1619 closed

[2017-05-29 03:35] ksobon commented on #999
@kronz can we close this issue? This is related to 3rd party package and not DynamoRevit directly.

[2017-05-29 08:22] moethu commented on #1689
@ksobon yes this would be the easiest solution. will do that, should be done quite fast

[2017-05-29 12:23] Racel commented on #1663
@riteshchandawar @sharadkjaiswal @Randy-Ma - As we are going through the library re-categorization work, can we make some of these adjustments?

- Can we get the nodes under the right node type (create, action, query)?
- Can we evaluate the Get/Set nodes @andydandy74 reviewed above to see which ones are essential and determine the correct naming?

Let me know. Reassigning to @riteshchandawar for n

[2017-05-29 20:03] ksobon opened #1691 "Element.MoveByVector is not wrapped in transaction"
This happens:

https://forum.dynamobim.com/t/warning-message-meaning/12095

![image](https://cloud.githubusercontent.com/assets/529781/26560952/5e16b37c-4488-11e7-9b9d-d5f24c6e8980.png)

[2017-05-29 20:39] eibre commented on #1689
@ksobon @moethu Are you talking about changing the input types from `Revit.Elements.Rebar` to `Revit.Elements.Element`? Is there no other reason to have a wrapper than be able to specify the input type?

If it's preferred to keep most Revit elements as 3rd party packages, shouldn't there be a way for packages to "hook" into DynamoRevit and add wrappers on startup?

Personally, I would still like t

[2017-05-29 22:26] ksobon commented on #1689
I don't mind having it all be part of DynamoRevit either but that involves a little more work that @moethu would not be getting compensated for. Paging @kronz

Yes, it would be nice to have ability to extend DynamoRevit classes, but currently that's not exactly possible. This, however, echos what I was saying here already: https://github.com/DynamoDS/Dynamo/issues/7105

[2017-05-29 22:35] ksobon commented on #1415
@dago2015 can you answer the question? Is this still an issue in Dynamo 1.3? Thank you.

[2017-05-29 22:38] ksobon commented on #1360
Looks like @dimven solved this in the Forum. Can we close? cc: @kronz

[2017-05-29 22:50] ksobon commented on #749
I guess the answer is no, this will not be changed. @ikeough can we close this issue?

@andydandy74 `Category` doesn't have `ToDSType()` method because it doesn't inherit from `Element` class. It's not an Element in Revit API so it should not inherit from the Element wrapper and it should not behave as Element. Same goes for `Document` object.

Now I can understand that you want to be able to hand

[2017-05-30 02:26] ksobon opened #1695 "View.ExportAsImage throws an exception"
This happens:

![image](https://cloud.githubusercontent.com/assets/529781/26565994/b0b646d0-44bd-11e7-89ca-d2cac8ce48ce.png)

It basically can't find the file that Revit created. I am not surprised since the method used is manual string creation instead of the built in method that outputs what the revit generated name will be. ImageExportOptions class has a static method to handle that.

[2017-05-30 03:25] riteshchandawar commented on #1663
@Racel Right now we are not considering the recategorization of **Revit** nodes, we have done that for everything else including Geometry Library.

Let's talk on email and discuss further on Revit nodes.

- R

[2017-05-30 03:38] andydandy74 commented on #749
@ksobon My issues with categories are resolved. This is a rather old thread...

[2017-05-30 05:09] andydandy74 commented on #1664
@jnealb - Not limited to German:
```Advertencia: TextNote.Error en la operación ByLocation.```
```Avertissement:TextNote.ByLocation l'opération a échoué.```
![textnotebug](https://cloud.githubusercontent.com/assets/3014437/26568834/dd4a5db4-4506-11e7-8ebf-a00575252906.PNG)

[2017-05-30 06:31] dimven opened #1697 "Revit Elements' Background Preview kills my Video Driver and Terminates Revit"
*****Also see https://github.com/DynamoDS/Dynamo/issues/7703 for more discussion on this topic *******

## Dynamo version

1.21 / 1.3

## Revit version

Revit 2016 / 2017 / 2018

## Operating system
System1:
Windows 7
nVidia Quadro K3100M
Driver Version: 348.07

System2:
Windows 10
AMD Radeon 7850
Driver Version: Radeon Software Version 17.1.1

## What did you do?

Selected all elements in the act

[2017-05-30 09:01] moethu commented on #1689
Agree, extending wrappers of DynamoRevit would be great for anyone writing new packages - but it will be hard to maintain it coordinated because people might create duplicates or similar wrappers for same classes.

Adding Rebar to DynamoRevit wouldn't be the best solution because I'd have to wait until the next DynamoRevit release to update the rebar package and if someone continues using the old

[2017-05-30 11:30] kronz commented on #1645
@jnealb @riteshchandawar @Omeba720  can you reproduce this in Revit 2017 or 2018?  Is this particular to Win 10?  I've not seen this before.  If anything, the Revit preview visualizations have been too transient, disappearing the moment you do anything else in the view.

[2017-05-30 12:09] Racel commented on #1663
Thanks @riteshchandawar

[2017-05-30 13:44] ksobon commented on #1697
Yeah this new TextNote and DetailCurve background previous are crashing people's machines left and right.
@mjkkirschner @jnealb

[2017-05-30 14:08] #749 closed

[2017-05-30 14:14] jnealb commented on #1645
@Omeba720 Can you please send us your dyn file? neal.burnham@autodesk.com

[2017-05-30 14:56] jnealb commented on #1697
@dimven Just to be clear: can you please confirm this happens with 1.3 as well?

[2017-05-30 15:08] jnealb commented on #1664
Thank you @andydandy74 - this is tracked with DYN-877. fyi @smangarole.

[2017-05-30 15:11] dago2015 commented on #1415
Yes I did upgrade to 1.3 and the graph still crashes. This is the error report.

Probable I/O race condition detected while copying memory. The I/O package is not thread safe by default. In multithreaded applications, a stream must be accessed in a thread-safe way, such as a thread-safe wrapper returned by TextReader's or TextWriter's Synchronized methods. This also applies to classes like StreamW

[2017-05-30 15:39] jnealb commented on #1415
@dago2015 What package provides the "Collector.FloorTypes" custom node?

[2017-05-30 16:06] dago2015 commented on #1415
The node comes from spring nodes. I am sure that part is not the problem
because I froze it and ran the code and it still crashed.

On Tue, May 30, 2017 at 8:39 AM, Neal Burnham <notifications@github.com>
wrote:

[2017-05-30 16:11] jnealb commented on #1415
Thanks; investigating.

[2017-05-30 16:35] jnealb commented on #1415
Question: what are your Analytics settings:
![image](https://cloud.githubusercontent.com/assets/9357222/26594101/6c280932-4534-11e7-8199-c36c3eca679e.png)

[2017-05-30 18:58] #999 closed

[2017-05-30 19:02] kronz commented on #1689
Let me get a technical consult from @mjkkirschner and @ikeough

[2017-05-30 19:03] #1360 closed

[2017-05-31 01:03] dimven commented on #1697
I'll try and test this on 1.3 this weekend. I'm pretty sure it's some kind of a weird driver/hardware combination tho because I've only had this happening on my work machine. I originally suspected the issue will also happen in 1.3 because I don't remember seeing any chances to the background preview between 1.21 and 1.3

[2017-05-31 13:23] flavioalessandri opened #1699 "Dynamo Player Crashing"
Dear All, we have a problem in running Dynamo player in all of our office computers.
We use Revit 2017.2 and the 1.3 Dynamo release.
Find below our Pc characteristics;
RAM 32 GB
Processor Intel Xeon CPU E5-1650 v4 3.60 GHz
Graphic Card Quadro M2000 or GeForce GTX 1060.

The Player crashes immediately after starting.
We open a Revit project, then, under Manage, we click on Dynamo Player Icon.
The p

[2017-05-31 13:28] jnealb commented on #1697
Yes, but there may be issues with our upgrade process. Please let us know.

[2017-05-31 14:12] mjkkirschner commented on #1699
FYI @BogdanZavu

[2017-05-31 21:28] BogdanZavu commented on #1699
@flavioalessandri we need some more details.
Does DynamoPlayer works corectly with the default version of Dynamo that comes with 2017 R2 ?
Can you send us the log file that is created here after a crash ?
C:\Users\---yourusername---\AppData\Roaming\Dynamo\Dynamo Core\1.3\Logs

Can you give us more details about the crash ? Can you still use Revit and Dynamo at all after the dashboard closes ?

Tha

[2017-06-01 00:47] ksobon commented on #1588
This works fine in 1.3:

![image](https://cloud.githubusercontent.com/assets/529781/26659887/49ccefa6-4642-11e7-8b44-d6a289e78294.png)

cc: @kronz can we close this issue?

[2017-06-01 01:03] ksobon commented on #1502
This has to do with the fact that currently Sheet class doesn't inherit from View but instead it inherits directly from Element. It also needs to be added to View class "annotation view" checklist that currently doesn't include Sheet views. That will be fixed with this PR: https://github.com/DynamoDS/DynamoRevit/pull/1672

![image](https://cloud.githubusercontent.com/assets/529781/26660236/949d8ea

[2017-06-01 01:05] ksobon commented on #1462
This question belongs on the Dynamo Forum. @kronz can we close this?

[2017-06-01 01:06] ksobon commented on #1446
@kronz can we close this as well. This has nothing to do with Dynamo Revit and instead is at best a Forum question. Also Revit 2015 is not supported by DynamoRevit anymore so we can close this.

[2017-06-01 01:10] ksobon commented on #1020
This is all Dynamo related and not DynamoRevit related. Can we close this issue or move it to other repo? cc: @kronz Thanks!

[2017-06-01 01:11] ksobon commented on #1639
@kronz this is Dynamo related and not DynamoRevit. can we move over and/or close?

[2017-06-01 01:14] ksobon commented on #1505
@kronz this is not Dynamo Revit related. Looking at the crash stack it looks like the string comparison operation crashes it. Can we move this to Dynamo repo and close here?

[2017-06-01 01:16] ksobon commented on #1385
@jmbyker can you give us some more information about this issue? Was there an error produced by the code block? can you post your log files? We will need more than just that to re-create the issue and solve it.

cc: @kronz if we don't hear back in few days let's close this. Thanks!

[2017-06-01 01:17] ksobon commented on #1644
Thanks for closing but I would wait until the PR gets accepted and merged. Until then I would keep it open.

[2017-06-01 01:19] #1588 closed

[2017-06-01 02:01] truevis commented on #1020
Had it happen again, recently, with dynamo for Revit. Workaround seems to be to make the files in the Packages folder all read-only.

[2017-06-01 02:18] ksobon commented on #1020
@truevis I am saying that Package Manager is not part of DynamoRevit functionality. It doesn't matter that it happens with Revit related packages. This issue should be posted in Dynamo repo as it pertains to functionality that exists in Dynamo, not in DynamoRevit. Makes sense?

[2017-06-01 02:21] thazell commented on #1020
@ksobon I'm ok if you want to move it to Dynamo, rather than DynamoRevit if that's more appropriate

[2017-06-01 02:23] ksobon commented on #1020
This issue was already brought up here: https://github.com/DynamoDS/Dynamo/issues/5487 feel free to add anything "new" to it, and let's close this here since it's duplicating issues.

[2017-06-01 02:35] ksobon commented on #1636
@andydandy74 we would have to do a small refactor of the `3dView` class internally to make this work but it's possible:

![image](https://cloud.githubusercontent.com/assets/529781/26662171/2c0cf99e-4650-11e7-8de2-1c681c278dc4.png)

@mjkkirschner I had to rename the original 3d view class to `Abstract3DView` since `PerspectiveView` and `AxonometricView` both inherit from it. I also created it's own

[2017-06-01 02:38] ksobon commented on #1402
this looks like a bad Dynamo install. Did you try re-installing, and making sure that Dynamo 1.3 is the only installed version of Dynamo. It doesn't play nice with other versions.

[2017-06-01 03:27] andydandy74 commented on #1636
Nice work

[2017-06-01 07:01] flavioalessandri commented on #1699
Here below the required log:

Dynamo log started 2017-06-01 06:59:35Z
2017-06-01 06:59:37Z : RequestUpdateVersionInfo
2017-06-01 06:59:37Z : Requesting version update info...
2017-06-01 06:59:37Z : Dynamo -- Build 1.3.0.875
2017-06-01 06:59:37Z : Duplicate migration type registered for
SunPathDirection
2017-06-01 06:59:37Z : Dynamo is up to date.
2017-06-01 06:59:38Z : Dynamo will use the package

[2017-06-01 12:58] ksobon commented on #1029
@kronz was this addressed in 1.3 release?

[2017-06-01 13:31] BogdanZavu commented on #1699
@flavioalessandri Unfortunately we are not able to reproduce this issue.
Please file a support case https://manage.autodesk.com ( sign in ->go to support tab on the upper right -> Contact us )

[2017-06-01 19:18] smangarole commented on #1699
@flavioalessandri Can you please confirm if the support case has been filed?
Thanks.

[2017-06-01 19:28] smangarole commented on #1695
@mjkkirschner and @kronz - Please take a look at the PR when you get a chance.

[2017-06-01 19:47] smangarole commented on #1639
@kronz - How would you like to handle feature requests? Do you think we should create a ticket and put it in the backlog?

[2017-06-01 19:49] smangarole commented on #1638
@paoloemilioserra Can you try this with Dynamo 1.3? Please let us know what do you find.
Thanks.

[2017-06-01 20:00] mjkkirschner commented on #1638
I would guess this has to do with detail level of geometry extraction - I think we default to medium.

[2017-06-01 21:06] flavioalessandri commented on #1699
Unfortunately we are not able to solve the problem yet.
We'll try to work on it in next week.

Thanks for the support

Il 1 giu 2017 21:18, "smangarole" <notifications@github.com> ha scritto:

[2017-06-02 00:42] ksobon commented on #1411
@mjkkirschner what are your thoughts on this? I think I remember that back in the days we used to have `ElementsUpdated` event on all dropdown nodes, but that was getting us into infinite loops. Do I remember that correctly or was it something else? Should we add that to the `DSDropDownBase`?

[2017-06-02 00:51] ksobon commented on #1411
So if we were to add that event it would potentially behave like so:

https://drive.google.com/file/d/0B3QQaPkepGSkT3prbXFZQzNhNFE/view

[2017-06-02 00:54] ksobon commented on #1501
What is this supposed to be returning in your opinion?

[2017-06-02 00:56] ksobon commented on #1163
@ikeough you labeled it as a bug. Any idea what this is and how to recreate?

[2017-06-02 01:09] ksobon commented on #1436
@Dinosaver would you be able to provide more detail? It's hard to troubleshoot these issues without more information. Thanks!

[2017-06-02 01:12] mjkkirschner commented on #1411
@ksobon I think you're remembering correctly - we can try to find the PR where it was potentially removed, probably for the issue of getting into infinite loops quite easily.

[2017-06-02 02:38] ksobon commented on #1411
You think you can dig it up to refresh our memory and make sure we are not imagining this. Then i guess it can be closed.

[2017-06-02 06:14] #1014 closed

[2017-06-02 12:17] kronz commented on #1462
@JacobWestergaard , yes, I believe that @ksobon is indicating that this is the "correct" behavior in relation to the underlying Revit structure, Elevations being a kind of Sectional view.

[2017-06-02 12:17] #1462 closed

[2017-06-02 12:20] kronz commented on #1446
@Binrock Yep, sorry, this has to do with a "third party" implementation.  I believe that @ksobon has links from his Archi-lab package to his repository where you can pursue any bugs or requests.

[2017-06-02 12:20] #1446 closed

[2017-06-02 12:23] #1020 closed

[2017-06-02 12:27] kronz commented on #1505
Thanks @cadtot .  Can you see if this still occurs in 1.3 and file in DynamoDS/Dynamo if it is still there?  Thanks

[2017-06-02 12:27] #1505 closed

[2017-06-02 12:28] kronz commented on #1385
@jmbyker This sounds like a conflict we were experiencing with 2 versions of Avalon Edit, a text editor that is also used in other areas of Revit.  Should be resolved in 1.3

[2017-06-02 12:28] #1385 closed

[2017-06-02 12:41] kronz commented on #1029
@AndrewHeumann  @ksobon Hmm, no, looks like this didn't make the cut.  keeping open

[2017-06-02 14:42] kronz commented on #1639
This should be a DynamoDS/Dynamo improvement.  @smangarole let's not put it into the internal backlog until such time as we are ready to work on it.
I made a new "improvement" in Dynamo
https://github.com/DynamoDS/Dynamo/issues/7921

[2017-06-02 14:42] #1639 closed

[2017-06-02 14:45] Chumpycmp commented on #1406
I am talking from total ignorace from how the node work inside but...

may it be the easiest way to just have 2 outputs in the same node, one called paramters and one called names? For retrocompatibility old "parameters"  should be  rename as "names" and that is all.

[2017-06-02 23:59] frothey opened #1704 "Area Types need to be included in ScheduleView.CreateSchedule"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.0.875
(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

## Revit version
2018

## Operating system
Windows 10

## What did you do?

I am getting an error message when I try

[2017-06-03 14:32] Binrock commented on #1446
Yeah, I understand. Commercial architects don't always have the luxury of
upgrading to stay on the latest Revit version.  I fixed the problem in c#.

On Friday, June 2, 2017, Zach Kron <notifications@github.com> wrote:

[2017-06-05 12:13] paoloemilioserra opened #1705 "Managed Object Is Not Valid"
## Dynamo version

![image](https://cloud.githubusercontent.com/assets/14221455/26783550/18192fd2-49f9-11e7-889b-cbe235845035.png)

## Revit version

2017.2

## Operating system

W7

## What did you do?

see below

## What did you expect to see?

Warning or Error State on the Codeblock

## What did you see instead?
![image](https://cloud.githubusercontent.com/assets/14221455/26783499/daf076f6-49f8

[2017-06-05 14:38] Makhamat commented on #1402
I had Dynamo 0.9 installed, i removed it and now it works. Thanks for your reply

[2017-06-05 14:53] ksobon commented on #1402
@kronz can we close this issue?

[2017-06-05 15:07] #1402 closed

[2017-06-05 15:28] jnealb commented on #1704
@ksobon Ping. FYI: @smangarole, @mjkkirschner

[2017-06-05 15:55] ksobon commented on #1704
Yeah, I am aware. I directed the user here from Dynamo Forum. Will try and have a look if/when time permits. I am not sure what the right strategy for this is. Maybe a new `Schedule Type` called Area and then we would allow user to provide an `AreaType` input instead of `Category`. Would that work?

[2017-06-06 04:30] ksobon commented on #1704
![image](https://cloud.githubusercontent.com/assets/529781/26813867/3e6fd4a0-4a4f-11e7-99f7-375010bf123c.png)

This should do the trick!

[2017-06-06 22:15] jnealb commented on #1705
@paoloemilioserra I am unable to repro the crash, however I do note the extra closing paren on line 5. If you remove the paren the red error state is cleared.
![image](https://user-images.githubusercontent.com/9357222/26854422-178f9538-4ae4-11e7-8506-11020bd1528b.png)

[2017-06-06 22:17] paoloemilioserra commented on #1705
thanks Neal

[2017-06-06 22:20] jnealb commented on #1705
Can we close the issue?

[2017-06-06 22:21] paoloemilioserra commented on #1705
Sure

[2017-06-06 22:21] #1705 closed

[2017-06-08 23:15] Omeba720 commented on #1645
@jnealb @riteshchandawar @kronz

Here is a drop box of some testing files and also a video of the issue. Once Dynamo is closed the Revit model is haunted by the dead dynamo script. I tried Document.Regenerate() and UIApplication.RefreshActiveView(), some wishful thinking perhaps hoping it might force the doc/view to redraw, but this does naught to fix it. Changing views also has no effect, the Bac

[2017-06-10 09:02] powermetal114 commented on #1699
Hi,

I encounter the same problem. Any news?

[2017-06-10 10:42] flavioalessandri commented on #1699
Unfortunatelly no.

Il 10 giu 2017 11:02, "powermetal114" <notifications@github.com> ha scritto:

[2017-06-10 10:50] powermetal114 commented on #1699
:-( bad.

Thanks for your reply.

[2017-06-10 22:10] ksobon commented on #982
@andydandy74 I know this is a little frustrating but let me explain what is happening here so that we all on the same page:

You are using `Enum.GetValues(BuiltInCategory)` to retrieve all of the built in categories from the model. That returns 1005 objects in my Revit 2018. Now a lot of these objects represent so called "internal" or "obsolete" categories. Here's an example:

![image](https://use

[2017-06-10 22:13] ksobon commented on #982
cc: @kronz if you agree with my assessment here, can we close this issue?

[2017-06-11 10:28] IvaSerge opened #1709 "TextNote Selection"
## Dynamo version

 Dynamo Version 1.3.0

## Operating system

Windows 10

## Revit version

2017 (Rus)

## What did you do?

Selecting of Annotation Text is not working
![1-2](https://user-images.githubusercontent.com/29341366/27005887-49a055b8-4e30-11e7-9aff-8b161a0c98a9.png)

Also I try selecting elements in Python code.
My code is [here](https://pastebin.com/bsz6uGaf)
But  note = doc.GetElemen

[2017-06-11 14:11] ksobon commented on #1709
seems to be working just fine on my machine:

![image](https://user-images.githubusercontent.com/529781/27011647-446429a4-4e8e-11e7-90dc-8d28e504a2a1.png)

Are you sure that the text note still exists in the model (it was not deleted in Central Model)?

[2017-06-11 14:49] IvaSerge commented on #1709
Text note do exists.
We also discussed the issue on Russian Dynamo forum.
The same problem occured in all Russian Revit localisations of 3 different users.
You can check this on [Dynamobim.ru](http://dynamobim.ru/forums/topic/%d0%bd%d0%b5-%d0%b2%d1%8b%d0%b1%d0%b8%d1%80%d0%b0%d1%8e%d1%82%d1%81%d1%8f-%d1%8d%d0%bb%d0%b5%d0%bc%d0%b5%d0%bd%d1%82%d1%8b-textnode-revit-2017-2select-model-element-textnode/

[2017-06-11 15:08] ksobon commented on #1581
@dimven was right. The wrapper was missing for the Material class. Adding it fixes the issue:

![image](https://user-images.githubusercontent.com/529781/27011836-c94e74ae-4e92-11e7-86dc-7ce50704bc79.png)

[2017-06-11 15:10] ksobon commented on #1709
cc: @jnealb this seems related to localization. Similar to https://github.com/DynamoDS/DynamoRevit/issues/1626 and https://github.com/DynamoDS/DynamoRevit/issues/1664

[2017-06-11 21:30] ksobon commented on #1614
@Teun1 This is expected behavior and exactly as it was designed. It's called element binding. There is a wish outstanding with the development team for disabling binding that you can find here: https://github.com/DynamoDS/DynamoRevit/issues/1673 @kronz can we close this issue? It's pretty much a duplicate request to disable binding.

[2017-06-12 06:14] IvaSerge commented on #1709
It is localization problem.
In Revit(Eng) works good.

[2017-06-12 11:50] kronz commented on #982
Wow, thanks for the in depth analysis @ksobon
Agreed, closing.

[2017-06-12 11:50] #982 closed

[2017-06-12 12:34] kronz commented on #1614
Yep, for now, as designed

[2017-06-12 12:34] #1614 closed

[2017-06-12 12:37] andydandy74 commented on #982
Fair enough. Custom node it is then. ;-)

[2017-06-13 14:38] natgmac opened #1712 "Unhandled Exception During Excel Export and Other Scripts"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
1.3

## Revit version

2017.2

## Operating system

Windows 10

## What did you do?

Created a script to export excel

## What did you expect to see?

For the script to be able to run consistently.

## What d

[2017-06-13 14:40] natgmac commented on #1712
One of the scripts I'm attempting to run.
![capture](https://user-images.githubusercontent.com/29259470/27088048-9ee5e4a2-5024-11e7-949a-6c550e7c0daf.png)

[2017-06-13 14:41] natgmac commented on #1712
Sorry, that screenshot showed Bumblebee not installed on that computer but the issue still came up after installation of the package.

[2017-06-13 14:53] jnealb commented on #1712
@natgmac Are you able to send us your script?

[2017-06-13 14:59] natgmac commented on #1712
Don't know if thats the best way to get it to you but here's a .zip.

[Room Parameters to Excel Starbucks ACH CFM 2017-6-13.zip](https://github.com/DynamoDS/DynamoRevit/files/1071810/Room.Parameters.to.Excel.Starbucks.ACH.CFM.2017-6-13.zip)

[2017-06-14 02:50] ksobon commented on #1712
@natgmac that error appears from Bumblebee package, not from OOTB Excel nodes. Right? If this issue is related to Bumblebee please post here: https://github.com/ksobon/Bumblebee/issues

[2017-06-14 13:55] natgmac commented on #1712
@ksobon, I tried switching in OOTB Write nodes with the same error still occurring.

[Room Parameters to Excel 2017-6-14 Rev1.zip](https://github.com/DynamoDS/DynamoRevit/files/1074800/Room.Parameters.to.Excel.2017-6-14.Rev1.zip)

Specified cast is not valid.

   at ProtoCore.DSASM.Heap.ToHeapObject[T](StackValue heapObject)
   at ProtoCore.Lang.Replication.AtLevelHandler.GetElementsAtLevel(StackV

[2017-06-14 14:23] jnealb commented on #1712
Thanks, I can reproduce the crash.

[2017-06-15 00:32] ksobon commented on #1533
@jhubers you can do what you are asking for like this:

https://drive.google.com/file/d/0B3QQaPkepGSkcDlBeHNHSFJmTjQ/view

[code]

[code]

As you can see the trick is to use a `NodeModel` instead of a ZeroTouch. Only there you can use the `OnNodeModified()` method that forces it to refresh. So basically you subscribe to the `tab.PropertyChanged` event and when that triggers you force refresh the n

[2017-06-15 00:34] ksobon commented on #1533
cc: @kronz can we close this issue? Unless @mjkkirschner and @jnealb think its safe to use AdWindows.dll in DynamoRevit for this kind of functionality, I am afraid that we would just have to refuse this request.

[2017-06-17 09:34] paoloemilioserra opened #1715 "Session Log Missing Information"
## Dynamo version

1.3.0.875

## Revit version

2017.2

## Operating system

W7

## What did you do?

I monitored the Log file in a Dynamo session, loading DYN files from the hard drive both in automatic and manual mode.

## What did you expect to see?

 "Original file " with the name of the graph for each file. A way to calculate the exact duration of the execution (not just the file opened in th

[2017-06-17 13:30] ksobon commented on #1715
@kronz this is not DynamoRevit specific. It should be posted on Dynamo page. Can we move/close this?

[2017-06-19 13:03] kronz commented on #1715
https://github.com/DynamoDS/Dynamo/issues/7985

[2017-06-19 13:03] #1715 closed

[2017-06-19 19:14] andydandy74 opened #1718 "Improvements for Parameter.CreateSharedParameter"
## Dynamo version

1.3

## Revit version

2017

## Operating system

Windows 7

## What did you do?

Create a shared parameter using Parameter.CreateSharedParameter

## What did you expect to see?

A means to set the param to invisible and specify a ahred parameter file

## What did you see instead?

None of the above.

I would propose the following improvements for the node:

* Introduce an addit

[2017-06-20 03:34] dimven opened #1719 "Dynamo fails to return DirectShape elements not created through Dynamo."
## Dynamo version

1.21

## Revit version

2017+

## Operating system

Windows 7

## What did you do?

If I try to work with existing direct shape elements or try to create new ones and return them to the graph, the element wrapper tries to cast them to Dynamo's own DirectShape implementation and fails.

## What did you expect to see?

An element wrapped as an Unknown Element

## What did you see

[2017-06-20 14:48] #1719 closed

[2017-06-20 15:16] dimven commented on #1697
@jnealb Sorry my reply took so long. Getting IT to cooperate can be a challenge. I couldn't test the office PC in 1.3 but I did test my home PC. The results are even more catastrophic with an AMD system - the screen flashes a few times then turns grey and the video driver fails to launch again. The only solution seems to be a hard reset of the system.

There's definitely a critical number of eleme

[2017-06-20 16:44] ksobon opened #1720 "FloorPlanView.ByLevel doesn't support binding like other create nodes"
## Dynamo version

1.3

## Revit version

2017

## Operating system

Win10

## What did you do?

Create Floor Plan

## What did you expect to see?

ElementBinding to kick in.

## What did you see instead?

Every time definition is re-run new set of views gets created.

[2017-06-21 01:11] dimven commented on #1720
I suspect it's something more deeply rooted than binding, because I've seen similar behavior with the level creation nodes, where they sometimes get re-created every time with a number suffix (e.g. Level 1(1), Level 1(2), ...)

Both of them seem to be getting wrapped. Maybe something up the graph is getting refreshed by an event and feeding in "fresh" input into the creation node?

https://github.

[2017-06-21 10:52] ggnistor opened #1722 "installation problems"
## Dynamo version
1.3

## Revit version
2017

## Operating system
Windows10

## What did you do?
First time with dynamo. I downloaded the installation file and run it. I have access to the sandbox as stand alone but Dynamo does not show on Revit Add-In tab

## What did you expect to see?

Dynamo as one more add-inn in Revit

## What did you see instead?

[2017-06-21 11:00] ghost opened #2307 "improvement: UI indication of nodes that transact with revit document"
There is such a substantive difference in how users have to think about normal nodes versus nodes that interact with the revit DB - specifically those that perform actions in transactions. It would be nice if there was a visual indication wherever nodes utilize Revit transactions in order to give a user a heads up that this node will affect the model.  This would be especially useful in tandem wit

[2017-06-21 11:11] mjkkirschner commented on #1722
Dynamo should be in the manage tab not addins.

[2017-06-21 13:16] ggnistor commented on #1722
Thanks!

From: Michael Kirschner [mailto:notifications@github.com]
Sent: Wednesday, June 21, 2017 2:12 PM
To: DynamoDS/DynamoRevit
Cc: ggnistor; Author
Subject: Re: [DynamoDS/DynamoRevit] installation problems (#1722)

Dynamo should be in the manage tab not addins.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub <https://github.com/DynamoD

[2017-06-21 14:38] #1722 closed

[2017-06-23 10:58] rbosborne commented on #1697
A system wide disable preview would be nice.  Or an option to set default preview behavior for all nodes to "Off" (making the user explicitly choose when they do want to see a preview).

Also- allow disable/enable preview for grouped nodes (select the group and disable all within the group) - and disable/enable preview for multiple selections (window select an area of your graph and disable/enable

[2017-06-26 14:32] DanielHurtubise opened #1725 "Sequence with letters"
1.3.0.875

(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

## Revit version

2017.2

## Operating system

Windows 10 x64

## What did you do?

Created a sequence using A as a startup point

## What did you expect to see?

When exceeding Z i was expecting to see AA

## What did you see instead?

lowercase a

And if you go above lowwer case z... the sequence end. See

[2017-06-26 14:58] andydandy74 commented on #1725
see https://github.com/DynamoDS/Dynamo/issues/5277

[2017-06-27 12:54] ksobon commented on #1725
@kronz can we close this here? It's duplicate and was not supposed to be posted here since its a Dynamo issue. Cheers!

[2017-06-28 02:23] ksobon opened #1726 "Element.SetLocation goes into an endless loop when executed in Automatic mode"
## Dynamo version

1.3

## Revit version

2017

## Operating system

Win10

## What did you do?

Wire up the Element.SetLocation node

## What did you expect to see?

Elements moved in Revit.

## What did you see instead?

It enters into an endless loop which forced me to kill the process. It also, returns `null` which is not standard practice for nodes of this type. They should return the element

[2017-06-28 10:34] Phlipflops opened #1728 "Problems with mandrill package"
## Dynamo version

Dynamo 1.3

## Revit version

Revit 2017.2

## Operating system

Windows 10

## What did you do?

I tried to visualize some data with the Mandrill package. Ist working til i want to print pdf or html. The Moment i click the "Launch/Print" - Button Dynamo shuts down, shows some error message which is just saying that there is a mistake during the process and Dynamo has to shut do

[2017-06-28 12:15] TeunG commented on #1704
Hey,

Interesting subject,

@ksobon I'm curious: Where can I find the CreateAreaSchedule node?

Thank you in advance.

[2017-06-28 12:29] ksobon commented on #1704
@TeunG it was submitted to Autodesk for approval. @kronz any idea when these PRs will be reviewed?

[2017-06-29 01:30] ksobon commented on #1728
@Phlipflops can you post Mandrill related issues here: https://github.com/BadMonkeysTeam/Mandrill/issues Also, please attach a sample file, image of your definition or at least what the error says. That's the only way for me to be able to start helping you. Cheers!

cc: @kronz can you close this? It doesn't belong in this repo.

[2017-06-29 01:54] #1725 closed

[2017-06-30 14:47] #1728 closed

[2017-06-30 20:08] DavePlumb opened #1732 "Select Rule Type goes bad"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version - 1.3.0.875

(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

## Revit version - 17.0.1099.0

(Which version of Revit are you using?)

## Operating system - Win7 SP2

(e.g. Win

[2017-07-05 14:23] bkvsy opened #1735 "Installation fail Dynamo 1.0 and later"
## Dynamo version

0.9.2.4472

## Revit version

2017, but also 2015 installed.

## Operating system

Windows 10 x64

## What did you do?

After installation of Dynamo 1.3 my Revit 2017 was running only its previous verion (0.9.2) like nothing happend. I removed all versions of Dynamo through add/remove software. After that I'm not able to install any Dynamo release after 0.9.2.4472 . Dynamo core

[2017-07-06 16:25] LopezDan opened #1736 "problem with SetParameterByName"
![image](https://user-images.githubusercontent.com/29954756/27921449-230d37de-6278-11e7-897b-ae46c44dad07.png)

Hello i'm trying to put calculated data into the field in the abacus but i have a problem i'm new in Dynamo thanks for your help
Daniel lopez

[2017-07-06 16:25] LopezDan commented on #1736
![image](https://user-images.githubusercontent.com/29954756/27921600-89f87b3e-6278-11e7-927b-1d4739304a77.png)

[2017-07-06 16:33] ksobon commented on #1736
Please post "how to" questions to this forum: https://forum.dynamobim.com/

@kronz can we close this issue?

[2017-07-06 16:35] LopezDan commented on #1736
ok

[2017-07-06 16:36] LopezDan commented on #1736
scusi me but i have been trying for a long but there no way to post anything there

[2017-07-06 16:53] ksobon commented on #1736
you need to create an account. You won't be able to post an image at first since you are a new user, but you can post a link to Box or Google Drive. That limitation will be removed with time. It's there to prevent spam.

[2017-07-06 16:55] LopezDan commented on #1736
ok thanks

[2017-07-06 16:55] #1736 closed

[2017-07-06 23:24] AntMcP opened #1737 "AxonometricView.ByEyePointTargetAndBoundingBox node doesn't work"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
1.2.1.3083

## Revit version

2017.2

## Operating system

Windows 10

## What did you do?

All inputs to node are correct - (inputs will create a solid of correct size) - but 3 Dview created by the node is n

[2017-07-07 11:34] ThomasMahon opened #1738 "BoundingBox.ToCuboid on bounding box created via the Revit API erroneously scales the bounding box graphics display within Revit"
## Dynamo version

1.3

## Revit version

2016

## Operating system

Win 10

## What did you do?

Extracted a bounding box from an elevation marker using the Revit API and converted to ProtoType. Used `BoundingBox.ToCuboid` to visualise the extents.

## What did you expect to see?

The Dynamo Geometry equivalent of the bounding box correctly located in both Revit and Dynamo

## What did you see in

[2017-07-07 13:51] ThomasMahon opened #1739 "Element.BoundingBox throws exception when inputting Elevation Markers"
## Dynamo version

1.3

## Revit version

2016

## Operating system

Win 10

## What did you do?

Attempted to get bounding box from a elevation marker in Revit

## What did you expect to see?

The bounding box

## What did you see instead?

![image](https://user-images.githubusercontent.com/18601851/27960509-75e92dcc-6323-11e7-839d-1c560573a509.png)

Using the API `BoundingBox[Options()] `method

[2017-07-08 13:44] ThomasBSmits opened #1740 "Opening dynamo file: Acces to the file path is denied"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3

## Operating system

Windows 7

## What did you do?

Trying to open a dynamo file, get message "Acces to the path is denied"

## What did you expect to see?

The Dynamo file i've been working on. Saved

[2017-07-08 14:22] ThomasBSmits commented on #1740
System.UnauthorizedAccessException: Access to the path is denied.
   at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
   at System.IO.FileStream.ReadCore(Byte[] buffer, Int32 offset, Int32 count)
   at System.IO.FileStream.Read(Byte[] array, Int32 offset, Int32 count)
   at System.Xml.XmlTextReaderImpl.InitStreamInput(Uri baseUri, String baseUriStr, Stream stream, Byte[] byte

[2017-07-10 06:01] QilongTang commented on #1740
This type of exception is thrown when the operating system denies access because of an I/O error or a specific type of security error. If you can confirm that the file has proper read/write rights and current system user does have read/write access to it, then it may indicates that the file is corrupted during the save process based on your description. There should be other ways we can try to rec

[2017-07-16 23:16] salvodragotta opened #1743 "Dynamo 1.3.1 with Revit 2017 Crashing When Using a Code Block"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

 Dynamo 1.3.1.1736

## Revit version

Revit 2017.2.1

## Operating system

Windows 10

## What did you do?

I just installed the update for Revit 2018 (2018.1) which Installs Dynamo 1.3.1.1736
If I use Dynam

[2017-07-18 15:18] paoloemilioserra commented on #1638
The customer has just confirmed that issue persists on 1.3.0.875 and was resolved in 1.3.1 with a simple model.
The profile in the beams is always the same at all level of details.

[2017-07-18 18:41] jnealb commented on #1732
@DavePlumb Are you able to reproduce this?

[2017-07-18 18:52] jnealb commented on #1737
@aparajit-pratap Any thoughts?

[2017-07-18 18:55] jnealb commented on #1738
@aparajit-pratap Any thoughts?

[2017-07-18 19:56] #1638 closed

[2017-07-19 06:57] aparajit-pratap commented on #1738
@ThomasMahon again I don't seem to be able to reproduce this with simple Dynamo geometries in Revit. Could you share a graph and Revit file to reproduce this? Thanks.

[2017-07-19 09:49] ThomasMahon commented on #1738
Interestingly if I try to recreate the problem in my OP I now get a fatal error which prevents me for getting to the cuboid. I am using Python to extract the BoundBoxXYZ object from the marker, convert via `ToProtoType()` then input it into a OOTB `BoundingBox.ToCuboid` node. It crashes Dynamo. Note that I am selecting the circle element of the marker, not the view arrow markers:

![image](https:/

[2017-07-19 16:06] jnealb commented on #1739
@aparajit-pratap Any thoughts?

[2017-07-19 19:49] archie456 commented on #1673
Having persistent bindings is a real issue for me, and is one of the problems of why I can't simply give out graphs to the people I work with.

Having a Element.RemoveBinding node or something similar would be perfect!

[2017-07-21 01:50] jaiemm opened #1746 "Dynamo Crash After Opening File"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
1.3
## Operating system
Windows 7

## What did you do?

Saved the file yesterday without any problem. Today, I can no longer open it as it keeps on crashing. What did I do wrong? Please help. Thanks in advanc

[2017-07-21 14:03] jnealb commented on #1746
@jaiemm Can you share your file with us? Are you using Dynamo Studio?

[2017-07-25 14:20] ThomasMahon commented on #1644
@ksobon I think this is yet to be merged as its still an issue in 1.3.1. I'll reopen cc @aparajit-pratap @mjkkirschner

[2017-07-26 01:25] Shiisun opened #1750 "Node Watch 3D not working properly"
## Dynamo version

Dynamo Core: 1.3.0.875
Dynamo Revit: 1.3.0.875

## Revit version

Revit 2018

## Operating system

Windows 7

## What did you do?

Opened Dynamo from Revit,  Ran the nodes

## What did you expect to see?

Node Watch 3D should show the model

## What did you see instead?

It worked sometimes, but most of time , it was blank with gird left.

[2017-07-26 20:59] esteban-campos opened #1751 "Dynamo Convert Between Units problem"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
1.3.1.1736

## Revit version
2018.1

## Operating system

Windows 10

## What did you do?

use the node Convert Between Units

## What did you expect to see?

Convert the units from cubic millimeters to cubic

[2017-07-27 14:11] jnealb commented on #1751
@esteban-campos @smangarole Thank for your report: this is tracked with QNTM-1304.

[2017-07-27 14:11] #1751 closed

[2017-07-27 14:56] Thurops commented on #1352
I can understand the desire for a link, but there are also a lot of situations where you don't want the link between the placement node and the placed families. Today I've been struggling with this same issue. The solutions that I found weren't helping me, so instead of solving it with Dynamo, I adjusted my workflow. Just select placed elements, copy to clipboard, delete placed elements and paste

[2017-07-27 17:53] amontema89 commented on #1645
I also have this issue and have seen on forums that other people have this issue. The solution is to restart Revit which is highly inefficient and would hope it was addressed officially.

[2017-07-28 09:28] paoloemilioserra opened #1752 "Autodesk Drive Crashes Dynamo and Revit"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1

## Revit version

2018.1

## Operating system

W10

## What did you do?

I wanted to save a graph to Autodesk Drive and as soon as I clicked on the save button it crashed Dynamo and then Revit.

## Wh

[2017-08-01 16:58] AnthonyViscusi opened #1753 "Immediate Crash on Running Dynamo 1.3.1 Revit 17.2.1"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1

## Revit version

2017.2.1

## Operating system

Windows 7

## What did you do?

Attempted to start dynamo from the Manage tab

## What did you expect to see?

It crashes immediately here is the Detai

[2017-08-01 17:01] jnealb commented on #1753
@AnthonyViscusi Can you please run the DxDiag utility from the Windows Start and capture the output as a file and send it to us?

[2017-08-01 17:08] AnthonyViscusi commented on #1753
@jnealb Sure here you go.  Thank you!
[MonnetDxDiag.txt](https://github.com/DynamoDS/DynamoRevit/files/1191374/MonnetDxDiag.txt)

[2017-08-01 17:14] jnealb commented on #1753
@AnthonyViscusi Dynamo has known issues with this graphics card:

 Card name: AMD FirePro W5000
 Manufacturer: Advanced Micro Devices, Inc.
Chip type: AMD FirePro SDI (0x6809)

[2017-08-01 17:24] AnthonyViscusi commented on #1753
That's unfortunate given that card is present in our Dell Precision T3610s.  Dynamo 1.2.1 was running fine.  I'll see if I can install that version or change the users video card or PC.

[2017-08-01 17:46] jnealb commented on #1753
There should be no difference between Dynamo 1.3 and 1.2.1 - if there is, something else is going on.

[2017-08-01 17:58] jnealb commented on #1753
Is your version of DirectX current?

[2017-08-07 10:12] ThomasMahon opened #1758 "Improvement: ToRevitType() limitation with converting Degree-1 NurbsCurves"
## Dynamo version

1.3.1

## Operating system

Win 10

## Improvement Suggestion

I notice that the ToRevitType() method doesn't handle Degree 1 nurbs curves. I'm currently using the workaround shown below, however, I think it is better if the ToRevitType() did this automatically:

![image](https://user-images.githubusercontent.com/18601851/29004767-4801056a-7ac5-11e7-95ac-4129edbefed4.png)

Worka

[2017-08-09 16:24] amirh69 opened #1759 "i was watching tutorial of dynamo in UNIT 2: FAMILY BY POINT - PART 2 i do exactly same but cross product doesn't work and my dynamo is up to date"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
1.3.1

## Revit version

2018

## Operating system
win 10

## What did you do?

(Fill in here)

## What did you expect to see?

(Fill in here)

## What did you see instead?

(Fill in here)

[2017-08-13 11:22] ThomasMahon opened #1760 "ToRevitType() doesn't convert Dynamo Solids derived from Revit Elements to Revit API Solids"
## Dynamo version

1.3.1

## Revit version

Revit 2017

## Operating system

Win 10

## What did you do?

Converted a solid extracted from Revit elements (Rooms) using OOTB `Elements.Element.Solids` to a Revit API type using `ToRevitType()`

## What did you expect to see?

A Solid from the Revit API `Solid` class

## What did you see instead?

It gets converted to a mesh which causes problems for

[2017-08-13 13:44] ThomasMahon commented on #1760
I see this topic is also reported here: [#4061](https://github.com/DynamoDS/Dynamo/issues/4061) and here [#4496](https://github.com/DynamoDS/Dynamo/issues/4496). Are there any updates?

[2017-08-14 01:33] dimven commented on #1760
We had a discussion about this back in 2015:

https://forum.dynamobim.com/t/directshape-question/2427

At that time the API simply did not provide us with enough tools to make the conversion feasible. But now with the introduction of the BrepBuilder in Revit 2017, this seems a lot more realistic. We can now re-create the dynamo solid face by face with the different methods introduced in Revit 2017

[2017-08-15 07:25] andydandy74 commented on #1718
Also, it would be great if the behaviour of instance parameters in groups could be set when creating the parameter binding. We regularly run into this issue at the office.
http://www.revitapidocs.com/2017/6f5af0cc-2ab3-153a-e07d-78fbc12aefc1.htm

[2017-08-15 13:57] lerklimenko opened #2309 "Import of SAT file crashes Dynamo"
## Dynamo version

Dynamo 1.3.0.875

## Operating system

Windows 10

## What did you do?

I tried to import sat files (from [SatFiles.zip](https://github.com/DynamoDS/Dynamo/files/1225225/SatFiles.zip)) via node Geometry.ImportFromSAT.

## What did you expect to see?

Geometry imported successfully or error is shown in case of sat invalidity.

## What did you see instead?

Dynamo crashed after at

[2017-08-15 16:45] ThomasMahon commented on #1760
It does make sense. I wonder though if the `EntityTags` class in Autodesk.DesignScript.Geometry.Core could be used to mark geometry derived from Revit elements. There would be two advantages (the second being the most advantageous):

1. These solids would conform to all of the BrepBuilder requirements and be easy to reconstruct

2. If the geometry is tagged with say, a property which stores a refe

[2017-08-17 13:01] Tacopover opened #1761 "Revit Dynamo keeps forcing itself to foreground"
## Dynamo version

Version 1.3.1.1736

## Revit version

Revit 2016 & Revit 2017

## Operating system

Windows 7

## What did you do?

Run a script that takes a long time to finish.

## What did you expect to see?

When I switch to another application on my computer it should keep Dynamo/Revit running in the background without it popping up every 2 seconds.

## What did you see instead?

Whenever

[2017-08-18 14:11] ThomasMahon opened #1762 "Periodic Updating interrupts and terminates user actions in Revit"
## Dynamo version

1.3.1

## Revit version

Revit 2017

## Operating system

Win 10

## What did you do?

Enabled periodic updating with one of my ZT nodes.

## What did you expect to see?

Re-execution of Dynamo at the time interval set to trigger the update.

## What did you see instead?

It all works as expected with one catch - if the user is performing an action within Revit and the periodic

[2017-08-21 03:18] dimven commented on #1762
If you're doing anything reactive that has to deal with revit, then it's probably smarter to tie directly to Revit's events. The document.Changed might be a good option. You can check some of the view model nodes as an example:

https://github.com/DynamoDS/DynamoRevit/blob/7270187e8688fbd8ec538b4617810dccdb9a695f/src/DynamoRevit/ViewModel/DynamoRevitViewModel.cs

[2017-08-21 09:01] ThomasMahon commented on #1762
Good suggestion - ideally though I want to avoid having to separate the nodes affected by this issue into another project as the project they're currently in includes many other nodes (as ZT can't be mixed with MVVM nodes).

[2017-08-22 08:53] phil-sh opened #1763 "dynamo crashing on a regular basis and standard nodes not working"
dynamo 1.3.1.1736

 Revit version 17.2

Operating system:  Windows 10 pro
 when running a dynamo graph , dynamo returns this error/crash report

Specified cast is not valid.

   at ProtoCore.DSASM.Heap.ToHeapObject[T](StackValue heapObject)
   at ProtoCore.Lang.Replication.AtLevelHandler.GetElementsAtLevel(StackValue argument, Int32 level, List`1 indices, Boolean recordIndices, RuntimeCore runtime

[2017-08-22 10:49] ThomasMahon opened #1764 "Elements from AllElementsOfType and AllElementsOfCategory input into a ZT node cause an infinite loop"
## Dynamo version

1.3.1

## Revit version

Revit 2017

## Operating system

Win 10

## What did you do?

Wrote a ZT node with two inputs: element set A and element set B. It collects and returns any elements from set B that intersect set A. To optimise the process, I use a quick filter which is dependent on bounding boxes, hence the `Element.BoundingBox[View v]` property is used to get the boundi

[2017-08-23 01:00] dimven commented on #1764
Both of these nodes subscribe to the Document.Changed event and will get re-triggered. If they're connected to anything down the graph that uses a transaction, it will get re-triggered too.

It's important to 1) always use Dynamo's transaction wrapper when we're interacting with Revit from inside Dynamo's context and 2) return the modified element(s) so that the element wrapper can tag something f

[2017-08-23 01:08] mjkkirschner commented on #1764
@Racel we should document this on the revit wiki.

[2017-08-23 09:11] ThomasMahon commented on #1764
Thanks for confirming. However, in situations where the element is temporary and doesn't need to be returned is this not a major drawback of the Document.Changed event and is there scope to handle this scenario?

[2017-08-24 07:26] josols opened #1766 "DirectShapes created with Dynamo fails to be selected"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
0.3.1

## Revit version
2017.1

## Operating system

Win7

## What did you do?

Created DirectShape with a Dynamo script using the DirectShape.ByMesh node. Tried to select DirectShape in a different script by

[2017-08-24 14:02] koloranek opened #1767 "Element.Geometry not retrieving correct geometry from Element.GetParts"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

## Revit version

2018 (18.0.0.420)

## Operating system

Windows 10

## What did you do?

Retrieved parts for a list of walls

[2017-08-24 14:23] jnealb commented on #1766
@mjkkirschner Any thoughts?

[2017-08-25 01:14] dimven commented on #1766
I have a thought. There were some changes around directshape class and it seems that somewhere along the line, wrapping revit direct shapes into Dynamo direct shapes sometimes fails.

In my own direct shape nodes, I browse the methods of the element wrapper for the UnknownElement one to specifically avoid the DirectShape wrapper. That way I can return an element to the Dynamo canvas that can be fu

[2017-08-25 13:47] Racel commented on #1697
@jnealb @mjkkirschner - Closed https://github.com/DynamoDS/Dynamo/issues/7703 to consolidate the discussion under one topic.

We should consider @mjkkirschner's proposal as a potential fix:
Turn off preview rendering of TextNotes and DetailCurve, - instead add element.geometry or textNote.Curves as a function to create these curves when desired.

@kronz I suggest we try to get a fix in for 2.0 as

[2017-08-29 13:03] MichielGroeneveld opened #1769 "open and close order, different dynamo scripts and revit projects error"
## Dynamo version

Dynamo Core 1.3.1.1736
Dynamo Revit 1.3.1.1736

## Operating system

Windows 10

## What did you do?

Dynamo doesn't run the project properly when you open a script before you open a Revit Project. By default, it's not possible to open Dynamo when there is no project open (PushButton.AvailabilityClassName). But if open a Revit Project, then a Dynamo and a script, close the proje

[2017-08-29 16:36] spageRDG opened #1770 "RoomTag.CenterOnRoomLocation indicates the output is Room, but it is actualy RoomTag."
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1

## Revit version
2018
## Operating system

Windows 10x64

## What did you do?

I tried to use the Roomtag.CenterOnRoomLocation node and the node worked, however the output indicated in "room" but it a

[2017-09-05 07:59] dannywi11imas opened #1771 "Internal Error, Please report: Dereferencing a non-pointer."
## Dynamo version:
Core 1.3.1.1736, Revit 1.3.1.1736
## Revit version:
2016 Build: 16.0.490.0 20150714_1515(x64)
## Operating system:
Windows 10 Pro Ver, 1703

## What did you do?
I'm a new user to Dynamo and searched the internet on this error. It seems that I need to report this.
I was trying to replicate a graph from this website. [https://forum.dynamobim.com/t/control-the-size-of-scope-box/858

[2017-09-05 10:11] mjkkirschner commented on #1771
I believe you want point.ByCoordinates.

[2017-09-06 18:13] dbaldacchino opened #1773 "Dynamo Core does not install in the System context"
## Dynamo version

1.3.1 but happens with older versions as well

## Revit version

Doesn't matter...2015, 2016, 2017, 2018

## Operating system

Windows 7 & Windows 10; others not tested

## What did you do?

Installed via VBscript in the System context (not the User context)

## What did you expect to see?

I expect to see Dynamo Core install

## What did you see instead?

Dynamo Core does NOT i

[2017-09-06 20:51] dbaldacchino commented on #1773
After further digging, it appears that Core is installing (I see files in C:\Program Files\Dynamo\Dynamo Core\1.3) but there is no entry for Core in Programs & Features (just for Dynamo Revit). If installed manually via running the script in the user context or simply running the executable, an additional entry in Programs & Features for Dynamo Core is added.

If I look in the registry [HKLM\Softw

[2017-09-06 21:39] dbaldacchino commented on #1773
I think the issue is that the following key, which exposes Dynamo Core to Programs & Features [HKEY_CURRENT_USER\SOFTWARE\Microsoft\Installer\Products\857B6F91FC5E19E4BB2A11FDBA5DFEA4] cannot be added in the System context. Hence why Core is not visible in Programs & Features. This should be corrected to install in HKLM instead.

[2017-09-07 14:38] QilongTang commented on #1773
@sharadkjaiswal Any insights on this one?

[2017-09-08 12:04] winterweken commented on #1743
You may find your solution here.  [#231](https://github.com/eirannejad/pyRevit/issues/231)
Hope it helps!

[2017-09-09 12:34] CresentMoon opened #1785 "Improvement Request：Scripting in C#"
## Dynamo version

![image](https://user-images.githubusercontent.com/17734954/30240172-d466a79c-959d-11e7-943e-f036a768b92c.png)

## Revit version

2018

## Operating system

Windows 10

Could developers add a node which can allow users to write C# codes?

![image](https://user-images.githubusercontent.com/17734954/30240183-215b3e14-959e-11e7-9371-f8bba94a539a.png)

just like that in Grasshopper?

[2017-09-09 17:22] mjkkirschner commented on #1785
There is a package for dynamic c# interpreter - or explore zero touch importing at this time.

[2017-09-12 09:53] teocomi opened #1786 "Element.Geometry not working with Mass Voids"
## Dynamo version 1.3.1

## Revit version 2017.2

## Operating system Win 7

Getting geometry or faces of a Mass element that has voids throughout doesn't work properly. Only some faces have the hole of the void.

![image](https://user-images.githubusercontent.com/2679513/30319628-4ad97ba0-97a8-11e7-9bd6-26fa0a9c443f.png)

![image](https://user-images.githubusercontent.com/2679513/30319673-5e5f976

[2017-09-12 12:00] pierramo opened #1787 "Rhynamo node crashes"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1.1736

## Revit version

(Which version of Revit are you using?)

## Operating system

Windows 7 Professional

## What did you do?
Attempting to convert polysurfaces to Rhino breps using CreateRhinoGeom

[2017-09-12 14:10] jnealb commented on #1786
@aparajit-pratap Ping.

[2017-09-12 19:51] two9seven opened #1788 "FloorPlanView.ByLevel not working with list of levels"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
1.3.1.1736
(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

## Revit version
2017.2
(Which version of Revit are you using?)

## Operating system
windows 10
(e.g. Windows 7, Win

[2017-09-13 18:50] andydandy74 opened #1789 "Floor.AddPoint issues"
## Dynamo version
1.3.1

## Revit version
2017.1

## Operating system
Windows 7

## What did you do?
Used the new-ish ```Floor.AddPoint``` node to determine whether I could retire Clockwork's ```Floor.SlabShapeByPoints``` node

## What did you expect to see?
The slab shape following the surface:
![grafik](https://user-images.githubusercontent.com/3014437/30394454-6c86c066-98c3-11e7-9b7a-31364417c0

[2017-09-13 18:59] andydandy74 opened #1790 "Roof.AddPoint not accepting Points as input"
## Dynamo version
1.3.1

## Revit version
2017.1

## Operating system
Windows 7

## What did you do?
Used the new-ish ```Roof.AddPoint``` node to determine whether I could retire Clockwork's ```Roof.SlabShapeByPoints``` node

## What did you expect to see?
The node accepting points as input

## What did you see instead?
The opposite:
![grafik](https://user-images.githubusercontent.com/3014437/3039

[2017-09-14 00:46] aparajit-pratap commented on #1786
@jnealb looks like a bug, can you log? Thanks!

[2017-09-14 14:41] jnealb commented on #1786
@aparajit-pratap This is filed with QNTM-1959.

[2017-09-14 14:41] #1786 closed

[2017-09-15 20:03] sixtysecondrevit commented on #1760
Damn, just ran into this problem when I wanted to implement Autodesk.Revit.DB ElementIntersectsSolidFilter

[2017-09-16 00:09] ThomasMahon commented on #1760
Ha, no way!! ...that was where I also ran into the problem! I've found a workaround it and I will exposing that exact method in bimorph nodes next update. And It avoids the complication of DirectShape cc @dimven. There are methods in the API (from 2017 and 2016 to a certain extent) that are extremely powerful for geometry conversion. Still doing tests, but anything coming out of Revit.Elements.Ele

[2017-09-16 06:55] dimven commented on #1760
I'm not following :)

Everything that comes out of "Revit.Elements.Element.Solid" was the solid representation of a revit element to begin with. Why would you bother sending that to Dynamo and then converting it back to a revit solid?

[2017-09-16 11:37] ThomasMahon commented on #1760
@dimven one wouldn't! But its not that simple - the problem arises as per the OP regarding a custom node; any solid from Dynamo, whether derived from a family or built from Dynamo's Geometry library, is convert to a Revit API `Mesh` when `ToRevitType()` is called on the object. This means any method in the Revit API which requires a Revit API `Solid` as an input cant be used in situations where th

[2017-09-16 15:38] sixtysecondrevit commented on #1760
@dimven, in my case as building a custom "bounding box" on a curtain panel by offsetting the boundary each direction. From there I am converting to a solid in Dynamo. In my intersection node, I will be feeding in the Dynamo solid, then running this method on a collector of a certain category. http://www.revitapidocs.com/2018/19276b94-fa39-64bb-bfb8-c16967c83485.htm

Using "ToRevitType" is resultin

[2017-09-16 15:40] sixtysecondrevit commented on #1760
@ThomasMahon, I did see the solid builder in the examples here. http://www.revitapidocs.com/2018/7a3b5ac1-c66d-9f81-a11d-9bcd4e026295.htm Have you successfully implemented this in your code?

[2017-09-17 02:23] ThomasMahon commented on #1760
I'm using a different approach altogether since my start geometry is a mesh (as opposed to the Revit Element). I basically reconstruct the entire mesh, 'glue' it all together then build it as a solid. It only supports flat faces - as far as I'm aware the approach I'm taking isn't documented anywhere online and came about through my own endeavours, but doing a google search now I've found this whic

[2017-09-18 18:19] calvertnr commented on #1588
The issue returned in 1.3.1

![keynote tag category error](https://user-images.githubusercontent.com/26099702/30557461-f2afd3ae-9c73-11e7-994f-8fa31df423b2.PNG)

[2017-09-18 18:26] ghost opened #1795 "Keynote Tag Category Issue- Dynamo 1.3.1"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1.1736

## Revit version

Revit 2017.2

## Operating system

Windows 10

## What did you do?

Place "Categories" node, change to "Keynote Tags" Category, feed into "All Elements of Category" node, run th

[2017-09-19 01:39] ThomasMahon commented on #1760
This is solved.

[2017-09-19 01:39] #1760 closed

[2017-09-19 01:41] sixtysecondrevit commented on #1760
Solved how? You revised the "ToRevitType" class?

[2017-09-19 01:50] ThomasMahon commented on #1760
No, there was no need to.

[2017-09-19 01:52] sixtysecondrevit commented on #1760
Lol, so using "ToRevitType" on a solid and getting a mesh is expected.

[2017-09-19 02:06] mjkkirschner commented on #1760
if I recall correctly, the tessellated shape builder is able to essentially do the same thing as the process you've described - you can pass tessellated faces to the builder but describe the output as a solid and get a tessellated solid from the mesh geometry. I even think this is what we do using the DirectShape nodes when Brep conversion fails.

[2017-09-19 02:08] sixtysecondrevit commented on #1760
Yeah, that's what Thomas discussed as well. I need to look at it some more. For my purposes I am just creating a direct shape with the dynamo solid for now.

[2017-09-19 15:14] sixtysecondrevit commented on #1770
Hello, this is my custom node in Rhythm. I have revised the output name and will push an update soon.
![image](https://user-images.githubusercontent.com/15744724/30599842-fce94c7c-9d1a-11e7-9f0b-3d5dd2a1027e.png)

@kronz can we close this?

[2017-09-19 17:54] kronz commented on #1770
Awesome, thanks @sixtysecondrevit

[2017-09-19 17:54] #1770 closed

[2017-09-20 13:42] HandsomeKenFisher opened #1799 "Revit Plugin crashes, all version years"
Dynamo version 1.3.1

Revit plugins version 2016-2018

OS=Windows 7
[DxDiag.txt](https://github.com/DynamoDS/DynamoRevit/files/1318227/DxDiag.txt)
[DxDiagx64.txt](https://github.com/DynamoDS/DynamoRevit/files/1318228/DxDiagx64.txt)

## What did you do?

Crashes when selecting Dynamo ribbon panel, yields error report below:

HRESULT: [0x8876086A], Module: [SharpDX.Direct3D9], ApiCode: [D3DERR_NOTAV

[2017-09-20 13:48] jnealb commented on #1799
@HandsomeKenFisher Can you please run DxDiag (from Windows) and send us its output as a file? Thanks.

[2017-09-20 15:23] HandsomeKenFisher commented on #1799
Sure thing Neal. Also, I erred in saying this system was Win 10. It is Windows 7 Enterprise. -Ken

[2017-09-25 08:08] florence26 opened #1801 "Unable to view Dynamo geometry when linked to Revit"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo version 1.3.1.1736

## Revit version

2018.1 Revit version

## Operating system

Windows 7

## What did you do?

The Dynamo add-in on Revit does not work - the background 3D preview doesn't work on Dy

[2017-09-25 14:57] jnealb commented on #1801
@florence26 This may be a case of DYN-887 – “Dynamo install/upgrade process leads to disabled gfx rendering” - we recommend uninstalling all builds of Dynamo (using MSFT fixit to thoroughly clean the machine) and re-installing 1.3.

[2017-09-27 06:29] andydandy74 opened #1802 "DetailCurve.ByCurve does not draw circles"
## Dynamo version

1.3.1 stable

## Revit version

2017.2.1

## Operating system

Windows 7

## What did you do?

Drew a circle in Dynamo and converted it to detail curve

## What did you expect to see?

A complete circle

## What did you see instead?

A partial circle
![grafik](https://user-images.githubusercontent.com/3014437/30898934-04a1eb60-a35e-11e7-8b98-d76797cf25bf.png)

(This was reported

[2017-09-28 12:11] MonaHa88 opened #1804 "Geometry.DoesIntersect is not working!!?"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo Version 1.3
## Revit Version 2017

Im new in Dynamo, Im trying to get the nummber of Elements from a Linked Modell which intersect with Floortypes of the orginal Modell.
Im using the node Geometry.Doesintersect  but

[2017-09-28 13:16] MonaHa88 commented on #1804
![unbenannt](https://user-images.githubusercontent.com/32361136/30968528-eec582ae-a45f-11e7-9174-64b4e4b8d52d.png)

[2017-09-28 21:37] Amoursol opened #1807 "[Bug] Dynamo Player won't recognise capitalised .DYN files"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1

## Revit version

Revit 2017.2

## Operating system

Windows 10

## What did you do?

I tried to load in a directory of Scripts to access via Dynamo Player. The one I was looking for exists within sai

[2017-09-28 21:42] Amoursol opened #1808 "[Feature Request] Notes output for Player"
Could we have the ability to add in a static notes output to Player? You can fudge this by putting in a faux string, or a faux watch node, but it's still not quite ideal.

This would allow for users to input micro-help files into their players scripts that would help out hugely with legibility.

![dyn_improvement](https://user-images.githubusercontent.com/12857357/30991754-44ce393c-a49e-11e7-9d3d-

[2017-10-02 16:34] adityakaushik123 commented on #1651
I am getting the same error and turning off revit background preview trick is not working. Any help is appreciated

[2017-10-04 01:37] MReza294 commented on #1704
Hi @ksobon, I'm totally new here and currently need to create more than 100 unique area schedules for marketing plans.. Is there an ETA when CreateAreaSchedule node will be available? any chance I can use it anytime soon?
Thanks in Advance
Reza

[2017-10-04 06:54] EmCru opened #1811 "Dynamo will not UnInstall or Upgrade_"DynamoRevit.msi" missing"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## 1.3.0875

(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

## REvit 2017.2

(Which version of Revit are you using?)

## w10

(e.g. Windows 7, Windows 8.1, etc)

## Realized I could not uninst

[2017-10-04 07:19] andydandy74 opened #1812 "Element.OverrideInView has no view input"
## Dynamo version

1.3.1 stable

## Revit version

2017.2.1

## Operating system

Windows 7

## What did you do?

Used the ```Element.OverrideInView``` node

## What did you expect to see?

An input for a view

## What did you see instead?

No input for a view.
Yes, the node description clearly states that the override is applied to the active view.
But where's the logic in that? Why should this n

[2017-10-05 19:14] chamfered opened #1813 "Dynamo Dictionary going to blank page from Dynamo"
## Dynamo version

(1.3.1.1736)

## Revit version

(Revit 2017, Build 17.0.501.0)

## Operating system

(Windows 7)

## What did you do?

(Clicked on Dynamo Dictionary in the help menu)

## What did you expect to see?

(Dynamo Dictionary)

## What did you see instead?

(Blank Page)

[2017-10-06 13:57] mostaphaRoudsari opened #1814 "StandardError: trim_with_edge_loops requires all curves to touch surface"
## Dynamo version
1.3.1.0

## Revit version
2017

## Operating system
Windows 10

## What did you do?
[code]
## What did you see instead?
It raises a StandardError: trim_with_edge_loops requires all curves to touch surface

![image](https://user-images.githubusercontent.com/2915573/31281124-90cf5814-aa7c-11e7-894b-6bb981ff71e8.png)

[Here](https://github.com/DynamoDS/DynamoRevit/files/1362894/room

[2017-10-07 18:42] EmmettCru commented on #1811
This is a HUGE problem! I not have uninstalled all revit products from my computer... in an attempt to get Dyn 1.3.0 off my machine..... It still seems to be stuck on there missing the DynamoRevit.msi file.    Is this a windows issue?  Please somebody help me... I am stuck without dynamo and I really need it to complete my work!!!
![dyn_missing dynamorevit msi file](https://user-images.githubuserc

[2017-10-08 18:48] andydandy74 opened #1815 "View.IsViewTemplate does not support all view types"
## Dynamo version

1.3.1

## Revit version

2017.2.1

## Operating system

Windows 7

## What did you do?

Ran View.IsViewTemplate on all views in the project

## What did you expect to see?

Booleans for all inputs

## What did you see instead?

Null

Turns out that the following view types are not supported:
* ProjectBrowser
* SystemBrowser
* DrawingSheet

![dks7cn4xuaqcqhu jpg large](https://us

[2017-10-09 08:23] mdengusiak opened #1816 "Bug Extending Note Window Down does not work"
## Dynamo version

1.3.1.1736 ...
can you allow to copy version ... so we do not have to re-type!
## Revit version

2018.1

## Operating system

 Windows 7

## What did you do?
I typed text to Note

(Fill in here)
![image](https://user-images.githubusercontent.com/14005893/31329669-1af529c6-acd3-11e7-8adc-375b0a836c3b.png)

## What did you expect to see?

I want to type text and extend Note window

[2017-10-11 04:11] phliberato commented on #1808
@mjkkirschner Do you know where is dynamo player source code? I intend to implement something similar on Advance Steel.

[2017-10-17 17:27] anorsworthy opened #1817 "Unhandled exception in Dynamo engine: The virtual machine that powers dynamo is experiencing some unexpected errors internally and..."
## Dynamo version

Dynamo Core 1.3.1.1736
Dynamo Revit 1.3.1.1736 (Update pending 1.3.2.0)

## Revit version

Revit 2017.2

## Operating system

Windows 10

## What did you do?

Tried to run script

## What did you expect to see?

Successful script i.e. no errors

## What did you see instead?

Unhandled exception in Dynamo engine
The virtual machine that powers Dynamo is experiencing some unexpect

[2017-10-18 17:21] dbaldacchino commented on #1773
This is still a problem in 1.3.3 and I'm having a hard time to get Core to update (not sure if there's a failure or just a similar registry issue as described above). Wasting a lot of valuable time mucking around with this install and updating...shouldn't be that way.

[2017-10-18 20:41] dbaldacchino commented on #1773
I can confirm that the issue described above (Dynamo Core not showing up in Programs & Features when installed in the System/Computer context vs. the User context) still exists but the Core files are being updated. The other test machine just refuses to install it, but I can deal with a one-off issue. So this remains unresolved. Thanks.

[2017-10-18 20:53] dbaldacchino commented on #1773
Proof =)

![dynamocoreinstall](https://user-images.githubusercontent.com/4656191/31742192-76397aee-b41c-11e7-92dd-1d48cb54c37b.png)

[2017-10-25 10:04] Omeba720 opened #1822 "Geometry Working Range Thickens Lines"
Dynamo V1.3.2.2480

Revit 2017.2

Windows 10 Professional

I think this is a bug. I am getting the Intersection between two planes. This works fine and I am getting what I expect to see. However, some of the nodes I am using requires the Geometry Working Range to be at maximum. This is where I am experiencing the problem, where the Graphical Representation of the Line thicknesses are scaled relati

[2017-10-26 20:57] cealigbe opened #1828 "Crash on input of designscript into Code Block node"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo 1.3

## Revit version

Revit 2017

## Operating system

Windows 10

## What did you do?

I tried to input a string into the Code Block node of my dynamo file.

## What did you expect to see?

The Code

[2017-10-26 21:02] mjkkirschner commented on #1828
This happens when an incompatible version of avalonEdit.dll is loaded by Revit. It may be another dynamo package or more likely another revit addin.

[2017-10-26 21:02] mjkkirschner commented on #1828
Check the notifications menu item in dynamo for some hints(look for the green circle)

[2017-10-26 21:08] cealigbe commented on #1828
The issue seems to be from the archi-lab package

[2017-10-27 16:48] abawiskar opened #1831 "Graph works in pieces but not all at once!"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.0.875

## Revit version

2017

## Operating system

Windows 10

## What did you do?

Ran a graph which does the following -
1. Take Revit family instance and tag as selection inputs
2. Pull a list of all

[2017-10-27 17:58] winterweken opened #1832 "Family.ByName Deletes Loaded Families"
## Dynamo version
1.3.2.2480

## Revit version
2017

## Operating system
win 10

## What did you do?
Using Family.ByName to compare an external list with loaded families. Once node is removed from graph, it also removes the families it 'touched'

## What did you expect to see?

For it to leave the Families in my project as they were.

## What did you see instead?

All 'touched' families removed fr

[2017-10-30 00:48] mjkkirschner commented on #1831
I think we'll need to see the graph and a sample revit file to help - unless @aparajit-pratap any ideas regarding custom nodes and this stack trace?

[2017-10-30 00:48] mjkkirschner commented on #1832
@kronz related to the bug @mrahmaniasl saw?

[2017-10-30 00:53] mjkkirschner commented on #1832
I believe this is an easy fix in the constructor for the ByName method.
My guess would be to change this line:
https://github.com/DynamoDS/DynamoRevit/blame/Revit2018/src/Libraries/RevitNodes/Elements/Family.cs#L128

to use Family.FromExisting instead of creating a wrapper with the internal constructor.

[2017-10-30 00:55] mjkkirschner commented on #1822
@aparajit-pratap FYI thoughts?

[2017-10-30 02:27] kronz commented on #1832
@mjkkirschner sounds related to what we saw, athought I was not able to delete Families with only Family.ByName (needed to also use the Family.Types AND it needed to be in a custom node).

[2017-10-30 13:16] Appio81 opened #1833 "Cannot GetItemAtIndex"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.2.2480

## Revit version

2017.2

## Operating system

Windows 7

## What did you do?

try to "GetItemAtIndex" even with designscript or node. Tried after the watch node on the bottom of graph

## What d

[2017-10-30 14:36] ksobon commented on #1815
@andydandy74 these view types are not valid to be View Templates. I see what you are saying. It should just return a false value instead of a null. Is that it?

[2017-10-30 16:10] QilongTang commented on #1813
Should be a temp state while we are maintaining Dynamo Dictionary Page http://dictionary.dynamobim.com/#/. Thanks for reporting. Closing

[2017-10-30 16:10] #1813 closed

[2017-10-30 16:13] QilongTang commented on #983
@andydandy74 As Dynamo evolves, we are probably not going to fix this particular instance. However, if you saw this again in future Dynamo versions, please re-open and let us know

[2017-10-30 16:13] #983 closed

[2017-10-30 18:25] andydandy74 commented on #1815
@ksobon Yes.

[2017-10-30 18:43] abawiskar commented on #1831
Thanks mjkkirschner but I think I found the cause of that error. Once I added a condition to only run the custom node when needed (i.e. input was not empty), vs letting it go through an empty list, it started behaving properly! Thanks for offering to take a look though! Will also be sure to add the graph and file next time (this was my first post here).

[2017-10-30 20:41] nasipes opened #1836 "Dynamo 1.3.2 Index was outside the bounds of the array."
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.2.2480

## Revit version

Revit 2017.2 (build 17.0.1146.0) and Revit 2018.2 (18.2.0.51)

## Operating system

Windows 10 Pro version 1703 (build 15063.674)

## What did you do?

Run the attached script.

[2017-10-31 16:23] Cescobido opened #1837 "(DividedSurface.ByFaceAndUVDivisions) Node Not working on a Second Run"
Hi I am having issues with this node above(DividedSurface.ByFaceAndUVDivisions) when selecting multiple faces.

I have multiple massing stacked on top of each other:
![image](https://user-images.githubusercontent.com/31930252/32236708-55eb7c48-be39-11e7-8478-cd4a11f6e57c.png)

I would select three or four faces at a time to create my divided surface, _(works fine)_.
![image](https://user-images.gi

[2017-10-31 17:49] aparajit-pratap commented on #1831
@abawiskar even though you may have found a solution, this looks like a crash with the stack trace shown above, which should not happen in the first place. It would be good if you could share a sample graph and revit file to help us reproduce it.

[2017-11-01 14:36] jnealb commented on #1837
@Cescobido Can you please try this again with Dynamo for Revit 2.0, as released on Dynamobuilds.com? We think it may have been fixed. @alfarok fyi.

[2017-11-02 17:04] JacobSmall opened #1840 "Unable to select tags associated to linked model"
Posted to the dynamo forum and multiple other users confirmed the issue exists for them as well. See post here: //forum.dynamobim.com/t/selecting-tags-associated-to-a-linked-model/16118

## Dynamo version

1.2.1

## Revit version

2017.2

## Operating system

Windows 7

## What did you do?

Attempted multiple methods to select tags associated with elements in a linked model. All elements of catego

[2017-11-02 18:54] DanBoghean commented on #1832
I'm having the same issue when I use the Element.SetParameterByName node.

I am currently trying to use dynamo to set a Family Type parameter to switch out door panels in a door.

Let’s say I have 3 doors all set to Door Panel “2P-G”. If I change all three doors to a new panel type “F” so that no doors use Door Panel “2P-G” any more using the dynamo script, Door Panel 2P-G gets deleted.

[2017-11-02 18:59] mjkkirschner commented on #1832
@mrahmaniasl can you share your workaround here?

[2017-11-02 19:41] slepagetrudeau commented on #1804
You're trying to intersect geometry with strings. Check your lacing, feed your floor elements in the filter by bool mask.

[2017-11-03 02:05] dimven commented on #1840
Tags have a custom element wrapper and that tries to verify the host of the tag:

https://github.com/DynamoDS/DynamoRevit/blob/Revit2018/src/Libraries/RevitNodes/Elements/Tag.cs#L39

Something is causing that to fail. My guess is the host property, because that's null for tags of linked elements. One possible workaround is to force the use of the unknown element wrapper instead:

![image](https://

[2017-11-03 17:55] des-hourihane opened #1844 "GlobalParameter.Name node: Dereferencing non-pointer error"
## Dynamo version

Dynamo Revit 1.3.1.1736

## Revit version

17.0.1146.0
20170816_0615(x64)
2017.2.2

## Operating system

Windows 10 Pro
Version 1703
OS Build 15063.674

## What did you do?
I am building a Dynamo Workspace to rename Views. I am feeding a List of Views (**Element Types** (View) through **All Elements of Type** node) into the standard **GlobalParameter.Name** node. The node seems

[2017-11-04 12:19] Etzgroup opened #1845 "Dynamo and Dynamo Player Crushing"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version - (can't tell, the progrem crushes and i can't reach the help menu)

## Revit version 2018

## Operating system - Windows 10

## What did you do?

Opened Dynamo within revit

## What did you expect to see?

T

[2017-11-04 19:14] QilongTang commented on #1845
@Etzgroup Can you send us the file? Looks very likely this file is corrupted somehow.

[2017-11-04 19:52] Etzgroup commented on #1845
which file ? the dyn. file ?

BTW, found [this theard ](https://forum.dynamobim.com/t/dynamo-crahses-on-startup/10226/4), tried and it worked for some reason. I still would like to know if there is a more under the surface of this error.

this dynamo for revit is a key feature for me...

[2017-11-04 20:07] QilongTang commented on #1845
Sorry, I meant the session file. It is an XML file underneath and the exception thrown seems to be deserialization related. If you open that `CSharpAnalytics-MeasurementSession` in some editor which can formalize the context, you should be able to validate using https://www.xmlvalidation.com/ and see next steps

[2017-11-05 17:42] narmerarchitect opened #1847 ""Dereferencing a non-poniter" error in case of "Empty list" as first item"
## Dynamo version
1.3.2.2480

## Revit version
2018.2

## Operating system
Windows 10

## What did you do?

Having nested list of lists of Revit Elements, where the first item is eventually an "Empty List".

If the first item is Empty List, the following nodes GetParameterValuByName, or SetParameterByName,  will have no output, and give the error message "Dereferencing a non-pointer". If any other

[2017-11-09 21:39] Cescobido commented on #1837
Hi, Neal thanks for responding. I apologies for not getting back to you sooner. I did manage to download the latest build Dynamo for Revit 2.0. The node is working for this build.

Thanks again
Chris

[2017-11-09 22:02] #1837 closed

[2017-11-13 18:18] EmCru opened #1859 "Node and Package Paths_Error when updating settings"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.2.2480

## Revit Version

17.0.1150.0
20171027_0315(

[2017-11-13 19:10] QilongTang commented on #1832
https://github.com/DynamoDS/DynamoRevit/pull/1848 should have fixed this issue in the coming release RC1.3.3 and RC2.0,0. Closing

[2017-11-13 19:10] #1832 closed

[2017-11-16 06:18] DutchSailor opened #1862 "Multiplyvalue not correct"
## Dynamo version
1.3.2.2480

## Revit version
2018.2

## Operating system
Windows 10

## What did you do?  ## What did you expect to see?
Multiply of a certain large number is not correct

## What did you see instead?
![image](https://user-images.githubusercontent.com/30430941/32876660-2cbdd14c-ca9e-11e7-8c31-59d7ce51155e.png)

[2017-11-20 19:11] ThomasMahon opened #1867 "Odd behaviour from Zero Touch property and OOTB Element property"
## Dynamo version
1.3.1

## Revit version

2016

## Operating system
Win 10

## What did you do?

Created a new public class in my Zero Touch project (BimorphNodes) within my Revit namespace. Created a public property for it named BoundingBox.

Randomly felt like using OOTB Element.BoundingBox node within Dynamo from the default constructor of my new class to test what it would do.

## What did yo

[2017-11-20 19:12] mjkkirschner commented on #1867
I believe this is a form of dynamic dispatch that the VM used to do, it should no longer behave like this in Dynamo 2.0, for clarity and speed.
@aparajit-pratap @Racel can probably say more.

[2017-11-20 19:27] Racel commented on #1867
@mjkkirschner - I believe you are referring to this PR: https://github.com/DynamoDS/Dynamo/pull/7178. Yes, it should be resolved in Dynamo 2.0.

@ThomasMahon - we have been having to update a series of our regression tests because of this change as nodes that seem to "magically" work should no longer work. Some package creators might need to update their sample graphs, custom nodes, etc.

[2017-11-20 19:31] aparajit-pratap commented on #1867
@mjkkirschner 's right. In cases where the function name is the same (BoundingBox in this case), the VM executes the best matching method at runtime due to dynamic dispatch (runtime method resolution). Since it can be confusing to users (where the node doesn't do what it says) and a different node executes under the hood instead, we have decided to stop doing this in 2.0.

[2017-11-20 19:52] ThomasMahon commented on #1867
Definitely will make Dynamo's behaviour more predicable and consistent if dynamic dispatch is disabled - thanks for the insight.

[2017-11-21 03:29] mjkkirschner commented on #1437
@Racel @kronz has this been tracked in new tracking system?

[2017-11-21 13:46] Racel commented on #1437
@mjkkirschner - Not that I know of. Can you please file? And, is this still reproducible in 2.0?

[2017-11-21 15:35] bnovotny03 opened #1868 "Can't run Dynamo without it crashing"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

The latest

## Revit version

2017

## Operating system

Windows 10

## What did you do?

Every time I add a node, it crashes

## What did you expect to see?

Adding a node

## What did you see instead?

Cra

[2017-11-21 15:40] jnealb commented on #1868
@bnovotny03 Can you give us some more detail: which version of Dynamo are you using?

[2017-11-21 15:46] bnovotny03 commented on #1868
Dynamo Revit/Core 1.3.2.2480
Crash seems to happen when entering data in a Code Block

[2017-11-21 15:47] bnovotny03 commented on #1868
![image](https://user-images.githubusercontent.com/25555683/33081855-25500a38-ce90-11e7-8d73-eace9ad8ff9f.png)

[2017-11-21 15:56] bnovotny03 commented on #1868
Hi Neal! Thanks for getting back so quickly, I updated the thread for you
including a pic of the error. This happens when adding a code block.
Best Regards,
Bryan

On Tue, Nov 21, 2017 at 7:40 AM, Neal Burnham <notifications@github.com>
wrote:

[2017-11-21 16:29] jnealb commented on #1868
@bnovotny03 This is a known issue: we do need to know the version of Dynamo that you are running. Thank you.

[2017-11-21 16:31] bnovotny03 commented on #1868
Dynamo Revit/Core 1.3.2.2480

[2017-11-21 18:00] jnealb commented on #1868
@bnovotny03 Can you please try renaming the C:\Program Files\Dynamo\Dynamo Core\1.3\ICSharpCode.AvalonEdit.dll file so that it is not recognized by Dynamo as a library to load? Dynamo will then use the version provided with Revit.

[2017-11-21 18:05] bnovotny03 commented on #1868
Renamed the file to (below) and got the same crash as shown in pic above
![image](https://user-images.githubusercontent.com/25555683/33088770-7661ec44-cea3-11e7-813c-db005fc5c0ea.png)

[2017-11-21 18:14] Toccia opened #1869 "Can't open Dynamo without crashing"
## Dynamo version

Dynamo 1.3.2.

## Revit version

Revit 2016

## Operating system

Windows 8.1

This is the error it gives me:

HRESULT: [0x8876086A], Module: [SharpDX.Direct3D9], ApiCode: [D3DERR_NOTAVAILABLE/NotAvailable], Message: Unknown

   at SharpDX.Result.CheckError()
   at SharpDX.Direct3D9.Direct3DEx.CreateDeviceEx(Int32 adapter, DeviceType deviceType, IntPtr hFocusWindow, Int32 behavi

[2017-11-21 18:29] jnealb commented on #1868
Can you restore it and find the Revit installed one and rename it?

[2017-11-21 18:41] bnovotny03 commented on #1868
Removed the xx from the name. Went to Program Files/Autodesk/Revit 2017 this is the only file I found that resembles the code found in Dynamo. Should I be looking elsewhere?
![image](https://user-images.githubusercontent.com/25555683/33090368-98064818-cea8-11e7-85d0-44b3c3c2f16c.png)

[2017-11-21 19:33] jnealb commented on #1868
Typically it is found here: C:\Program Files\Autodesk\Revit 2017\SDA\bin

[2017-11-21 19:37] bnovotny03 commented on #1868
Same error after renaming the .dll
![image](https://user-images.githubusercontent.com/25555683/33092911-69e730c0-ceb0-11e7-91b6-8056be1b8e1a.png)

[2017-11-21 19:50] bnovotny03 commented on #1868
I've added no new Add-Ins. I did work on a few nodes from an Autodesk University training class last week, but did not encounter any issues then either.

[2017-11-21 20:47] jnealb commented on #1868
But what does the green notification menu item in Dynamo report?

[2017-11-21 20:50] bnovotny03 commented on #1868
Ever since I installed the Archi-lab Grimshaw package Dynamo has always started with 7 "System.IO.FileLoadException" warnings, but this hasn't effected anything so far....
![image](https://user-images.githubusercontent.com/25555683/33096050-921a147c-ceba-11e7-8d71-220af7627e1a.png)

[2017-11-21 20:59] mjkkirschner commented on #1868
can you try updating to a version of archilab not built against dynamo 2.0

[2017-11-21 23:40] bnovotny03 commented on #1868
Updated all, still crashed, removed all my packages....still crashing on Code Block (There are now zero green warning on opening)
![image](https://user-images.githubusercontent.com/25555683/33102580-43899874-ced2-11e7-941e-c36f2252230a.png)

[2017-11-21 23:49] jnealb commented on #1868
Fascinating! Can you now please uninstall all Dynamo (from the Control Panel) and then reinstall 1.3 and try again? @mjkkirschner Any thoughts?

[2017-11-21 23:59] bnovotny03 commented on #1868
Uninstalled, reinstalled. Entered Code block, clicked out of it, crash.
![image](https://user-images.githubusercontent.com/25555683/33103087-f178ec58-ced4-11e7-983f-c35decb4ac90.png)

[2017-11-22 00:06] bnovotny03 commented on #1868
I can place other nodes, it's singled out to Code Block only.

[2017-11-22 00:52] jnealb commented on #1868
Is it possible for us to remote into your workstation?

[2017-11-22 15:44] ThomasMahon opened #1871 "Improvement: enable EntityTags for Revit.Elements.Element"
## Dynamo version

1.3.1

## Revit version

2016-2018

## Operating system

Win 10

## Improvement Suggestion
It would be hugely advantageous if `EntityTags` could be extended to cover the Dynamo Revit wrapper classes. I've found a number of use-cases where being able to tag wrapped Revit objects within Dynamo, even if they only persist during run-time, would be hugely beneficial and drastically i

[2017-11-22 17:18] bnovotny03 commented on #1868
Absolutely! Please contact me at bnovotny@cuningham.com
Thank you!

[2017-11-23 06:56] dimven commented on #1871
Might add a bit of bloat but it sounds like a good idea. As an alternative, you could implement this yourself by sub-classing the Element class. That way you don't have to modify anything on the Dynamo side:

![image](https://user-images.githubusercontent.com/7148394/33161444-8279f550-d05e-11e7-947d-a0363c31bb7e.png)

[2017-11-23 12:44] ThomasMahon commented on #1871
Awesome, thanks for the suggestion.

[2017-11-24 01:35] ParametricMonkey commented on #1576
Where has this been fixed? I'm using the latest stable release - 1.3.2.2480 and the problem is still there. @kronz

[2017-11-27 05:54] QilongTang commented on #1576
@ParametricMonkey It's fixed in next release 1.3.3 and daily builds as well

[2017-11-27 18:24] ThomasMahon commented on #1764
This problem is becoming more acute. Now, performance becomes unpredictable. In testing I've seen a custom ZT node which follows the same logic described in the OP (getting a BoundingBoxXYZ but not returning it, although now I am passing null as the view input rather than creating a new 3D view), process anywhere between 20 seconds to 5mins despite the same test being run. When I debug, its the sa

[2017-11-27 18:37] #1576 closed

[2017-11-28 01:48] dimven commented on #1764
The easiest fix would be to avoid the built in nodes for such workflows. I use a simple custom node that does just that for when I want to have more control on the graph update:

![image](https://user-images.githubusercontent.com/7148394/33298353-c9cd3ce4-d420-11e7-848c-d7d05d00591b.png)

It uses the built-in ZT functions that are called by the "All Elements Of" ui nodes.

For a more comprehensive

[2017-11-28 12:16] WspDev commented on #1832
@QilongTang Just wanted to report that this bug also happens when this node is frozen then unfrozen.

[2017-11-29 00:34] ThomasMahon commented on #1764
I try to steer well clear of the ProtoGeometry for efficiency reasons but in this case its for a custom node which takes a bounding box as an input so I cant avoid it.

There is something seriously wrong with Dynamos VM:
Test 1: 30seconds
Test 2: Unplug input, reconnect, re-run (exact same test conditions/calculations), now its 1min 20 seconds
Test 3: Repeat, now its 45 seconds
Test 4: Repeat, now

[2017-11-29 00:49] mjkkirschner commented on #1764
@ThomasMahon please share your zt code here - if you are not returning or storing references to protogeometry objects (forever) you must dispose them manually to avoid hangs when they are garbage collected, - that could be one factor complicating things, but without code or a repro case it is not possible to help further.

It's possible there are leaks in the revit conversion code - but I think we

[2017-11-29 15:18] ksobon opened #1873 "add support for selection filters to view.setfilteroverrides"
This user noticed that filter override node doesn't support selection filters yet:

https://forum.dynamobim.com/t/add-selection-filters-to-views/16920

It seems to be supported by the api:

http://www.revitapidocs.com/2018/b0aaf230-e034-8466-c1e4-1d91e7162d19.htm

[2017-11-29 21:04] ThomasMahon commented on #1764
@mjkkirschner please find attached an example ZT project which demonstrates the inconsistent processing times. I have include 4 variants of the same node which perform differently despite there being practically no difference in the code. For example, explicitly declaring a BoundingBoxXYZ vs inputting the object reference directly as an input to a method.

To repeat the test conditions:
1. Open th

[2017-11-29 22:48] juliekidder opened #1876 "Unhandled exeption when List.ContainsItem is set to @L1"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo Core (& Revit) 1.3.2.2480

## Revit version

2017.2

## Operating system

Windows 10

## What did you do?

Used list.ContainsItem with list @L1

## What did you expect to see?

A result rather than th

[2017-11-30 22:17] ParametricMonkey commented on #1576
when will 1.3.3 be released? I though the next version was 2.0??

[2017-12-01 08:25] QilongTang commented on #1576
@ParametricMonkey RC1.3.3 will be released with Revit 2019, RC2.0 will be released with Revit 2019.1. At the same time, daily builds for pre 2.0 are there available already.

[2017-12-01 09:41] makotoohura commented on #1626
Hi,
I received same warning message in Revit 2018.2 Japanese and Dynamo 1.3.2.

[2017-12-01 13:09] jnealb commented on #1626
@alfarok @mjkkirschner @QilongTang @smangarole Ping - culture invariance?

[2017-12-04 20:46] buddyd16 opened #1877 "3d Background Preview does not function"
I have uninstalled all dynamo versions and cleaned registry and restarted machine. Updated all graphic drivers (Nividia Dedicated Card, Desktop Machine) restarted the machine, installed the direct x versions from the Dynamo fax page and restarted the machine. Installed Dynamo 1.3.2 and restarted machine. The problem persists thru all steps.

## Dynamo version

Dynamo Core: 1.3.2.2480
Dynamo Revit:

[2017-12-05 07:56] StephanvdHeijden opened #1878 "Crash using levels in List.Transpose node"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo Revit 1.3.1.1736

## Revit version

Revit2017

## Operating system

Windows 7,

## What did you do?

I was extracting propperty information and Area from a revit model. Hereby I wanted to sort the inf

[2017-12-05 13:41] tonyzekry opened #1879 "Dynamo Crash"
The managed object is not valid.

   at Autodesk.Revit.DB.Transaction.GetStatus()
   at RevitServices.Transactions.AutomaticTransactionStrategy.ForceCloseTransaction(TransactionHandle handle)
   at Dynamo.Applications.Models.RevitDynamoModel.OnEvaluationCompleted(Object sender, EvaluationCompletedEventArgs e)
   at System.EventHandler`1.Invoke(Object sender, TEventArgs e)
   at Dynamo.Graph.Worksp

[2017-12-05 14:19] buddyd16 commented on #1877
Direct X Diag Report:

`------------------
System Information
------------------
Time of this report: 12/5/2017, 09:17:03
       Machine name: -------
   Operating System: Windows 7 Professional 64-bit (6.1, Build 7601) Service Pack 1 (7601.win7sp1_ldr.170913-0600)
           Language: English (Regional Setting: English)
System Manufacturer: MEI
       System Model: GSeries
               BIOS: BI

[2017-12-05 14:22] ColinDayOrg commented on #1877
@buddyd16 Not seeing even the grid in the background usually means that the graphics settings for the video card needs to be set to force the use of "High-performance NVIDIA processor" for the Dynamo executable in the NVIDIA control panel. The default value of "Use global setting" defaults to use the integrated graphics which can cause the background graphics to not be displayed.

[2017-12-05 14:52] jnealb commented on #1878
@StephanvdHeijden Can you please attach the dyn graph? Thanks.

[2017-12-05 14:53] jnealb commented on #1879
@tonyzekry Can you please share more detail with us: the Dynamo graph and Revit model?

[2017-12-05 15:01] buddyd16 commented on #1877
this is a desktop machine with no integrated graphics chip.
![image](https://user-images.githubusercontent.com/12416202/33613703-47ab5dbc-d9a3-11e7-872c-3b9daf66179e.png)

[2017-12-05 16:37] jnealb commented on #1877
@buddyd16 Is it possible for us to remote into your machine?

[2017-12-05 16:46] buddyd16 commented on #1877
@jnealb I appreciate the willingness to work thru this but current IT policy would not allow you to remote in.

If there is anything else I can do to provide more information let me know, is there a debug log than can be turned on?

[2017-12-05 17:54] mjkkirschner commented on #1877
@buddyd16 can you disable one of your cards?

[2017-12-05 18:00] buddyd16 commented on #1877
disabling one of the cards does indeed fix the issue.

[2017-12-05 18:10] buddyd16 commented on #1877
ON furhter testing disabling the card completely restores the Background preview, disabling SLI results in no background preview, enabling SLI but allowing the use of all monitors results in no background preview, enabling SLI in general (remove display ability from second card) results in no background preview.

[2017-12-05 18:46] buddyd16 commented on #1877
In all cases the Revit preview is functional it seems only the rendering within the Dynamo window itself is affected. In SLI Disabled and SLI Enabled (use all monitors) modes placing the Dynamo window on the monitor controlled by the 2nd card also results in no background in the Dynamo window.

I am not aware of a method to force one discrete card or the other, other than what monitor it is render

[2017-12-06 09:34] StephanvdHeijden commented on #1878
Hey @jnealb I have got my script working an other way. But here is the script that gave the report.

[Export .zip](https://github.com/DynamoDS/DynamoRevit/files/1534573/Export.zip)

[2017-12-06 18:28] jnealb commented on #1878
Thanks @StephanvdHeijden - we can reproduce the crash and are tracking it with QNTM-2957.

[2017-12-06 18:28] #1878 closed

[2017-12-07 16:57] AlixPOP opened #1880 "Dynamo Crashing using Code Block"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.1.1736

## Revit version

2017.2.3

## Operating system

Windows 7

## What did you do?

Used Code Block

## What did you expect to see?

Proper operation of the Code Block

## What did you see instead?

[2017-12-07 16:58] AlixPOP commented on #1880
Method not found: 'Void ICSharpCode.AvalonEdit.Editing.TextArea.ClearSelection()'.

   at Dynamo.UI.Controls.CodeCompletionEditor.OnTextAreaLostFocus(Object sender, RoutedEventArgs e)
   at System.Windows.EventRoute.InvokeHandlersImpl(Object source, RoutedEventArgs args, Boolean reRaised)
   at System.Windows.UIElement.RaiseEventImpl(DependencyObject sender, RoutedEventArgs args)
   at System.Wind

[2017-12-07 18:19] Blaze147 opened #1881 "Bug when calling "FamilyType.Name" in Dynamo Python Node"
## Dynamo version - 1.3.1.1736
## Revit version - 2016/2017.2
## Operating system - Windows 10
## What did you do?
    I called the ".Name" Revit API Reference from within a Python Node.
![image](https://user-images.githubusercontent.com/34349553/33731301-4abb4336-db48-11e7-8a1d-3e4bce322486.png)

## What did you expect to see?
    I expect to receive the Name of the FamilyType that the Revit Fami

[2017-12-07 18:30] mjkkirschner commented on #1881
* please share all your code
* have you verified all your types are not null
* have you verified all your elements are not null

[2017-12-07 19:02] Blaze147 commented on #1881
All of my Code:
import clr
clr.AddReference('ProtoGeometry')
from Autodesk.DesignScript.Geometry import *

import System
clr.AddReference('RevitServices')
import RevitServices
from RevitServices.Persistence import DocumentManager
from RevitServices.Transactions import TransactionManager

doc = DocumentManager.Instance.CurrentDBDocument

clr.AddReference('RevitAPI')
import Autodesk
from Autodesk.Re

[2017-12-08 02:11] dimven commented on #1881
This is not a bug in Dynamo or Revit but a limitation of the iron python multiple class inheritance interpretation. The problem with a family type (FamilySymbol) is that it inherits from a lot of other classes:

![image](https://user-images.githubusercontent.com/7148394/33747737-b81e6982-dbff-11e7-9bcd-14df00981f6e.png)

and if any of the intermediate classes overrides a method/property, that coul

[2017-12-10 23:45] kronz commented on #1876
@juliekidder can you say a little more about how you are creating this error?  As you say, it does not always reproduce, and I can't repro in a simple situation
![2017-12-10_1844](https://user-images.githubusercontent.com/3456818/33810971-49730ede-ddda-11e7-94aa-39db6d76a6ee.png)

[2017-12-11 00:08] mjkkirschner commented on #1881
@dimven do you have a good source or documentation for this ironPython /.net issue?

[2017-12-11 01:16] dimven commented on #1881
No documentation unfortunately. This is only a suspicion based on the fact that in the python syntax there is a concept of multiple inheritance, where as in dot.net/c# there generally isn't one (other than interfaces). So somewhere along the way, the inheritance possibly gets jumbled.

[2017-12-11 02:46] mjkkirschner commented on #1881
@Blaze147 - can you verify if this behavior still occurs when using ironPython shell - you might need to uninstall dynamo as we depend on a different version of ironPython - just curious if this is something that might have changed between ironPython versions - I did not find anything obvious in their release log though.

[2017-12-13 16:17] juliekidder commented on #1876
Here's a zip with the script I was working on (its a bit messy) and a snip of the point where it errors.  I have a flattened list of views, and am trying to find the index where each occurs.  While it's possible I'm feeding it something wrong, I think it should be an error at the node, not an unhandled exception.
[List.contains Error.zip](https://github.com/DynamoDS/DynamoRevit/files/1556202/List.

[2017-12-13 16:47] jnealb commented on #1876
@juliekidder This is tracked with QNTM-3024. Thanks!

[2017-12-13 16:47] #1876 closed

[2017-12-15 21:12] ksobon opened #1886 "Parameter.CreateSharedParameter comments"
Couple comments:

[code]
Is it just me or is this line slightly confusing?

[code]
You guys set `parameterType` variable to an actual value and then throw an exception when it fails to parse the user input. Kind of misleads me to think that if it fails it will just use the default you set there. The reason you had to instantiate that value was because a `var` was used. Why not just use the `Parame

[2017-12-18 16:52] aparajit-pratap commented on #1880
@AlixPOP it's possible that you're using a Revit plugin in the same session that also is dependent on `ICSharpCode.AvalonEdit` but with a different version than the one used by Dynamo. Please refer to related discussions and possible solutions for this issue on https://github.com/DynamoDS/DynamoRevit/issues or the forum on http://dynamobim.org/

[2017-12-19 18:50] ThomasMahon opened #1889 "Using statement with ProtoGeometry - proper implementation query"
## Dynamo version

1.3.2

## Revit version

2016-18.2

## Operating system

Win 10

## Question?

Created a BoundingBox from ProtoGeometry library from a Revit API Outline.

My question is simple: I know that ProtoGeometry elements have to be disposed if not returned, to prevent Revit from going into an inconsistent state. So is the following bad code, since the points are not assigned to variable

[2017-12-19 18:55] mjkkirschner commented on #1889
I believe you are *safer* with points than other geometry - to be completely safe - I would call dispose on anything that implements dispose.

I would not use nested using statements - they get unwieldy for me personally.

I keep a list of IDisposables and just dispose them all before the method returns or in a finally block so that dispose happens even if some other exception jumps out of the met

[2017-12-19 18:58] ThomasMahon commented on #1889
I see, so you call Dispose() instead of using statement. And you wrap your function in a try catch finally statement.

Thanks, that's useful advice.

[2017-12-19 19:05] #1889 closed

[2017-12-19 20:26] ColinDayOrg commented on #1889
Quick couple of comments;
1) If you are just dealing with one geometry item that needs to be disposed then the using block is (somewhat) safer, as the dispose happens automatically, but when dealing with multiple items that need to be disposed I find the nested using to be confusing as well
2) I believe that points need to be disposed of, even though they are very primitive forms of geometry. They

[2017-12-21 02:39] clovertong opened #1890 "Custom UI Node: Dynamo Stuck at "run start with new working range... ""
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.2

## Revit version

Revit 2016

## Operating system

Windows 7

## What did you do?

Change Geometry Range when working with Custom UI Nodes

## What did you expect to see?

Able to perform functionally

[2017-12-21 19:27] jnealb commented on #1890
@clovertong Can you please provide more detail: the Dynamo graph, custom nodes and any packages?

[2017-12-21 19:32] mjkkirschner commented on #1890
What do your custom UI nodes do?
Do they create geometry? Can you share the code?

[2017-12-22 12:57] ThomasMahon opened #1892 "Active Document object doesn't update when closing/switching between Revit projects within the same session"
## Dynamo version

1.3.2

## Revit version
2016-18.2

## Operating system

Win 10

## What did you do?
1. Open multiple Revit projects within the same Revit session
2. Open Dynamo and use any node which instantiates the active Document object (In my test I used Document.Current and Document.ActiveView)
3. Close the document Dynamo is attached to

Dynamo will automatically connect to the next avail

[2018-01-02 13:17] ThomasMahon opened #1894 "Improvement: Add Link-Document support to Revit.Application.Document class for Dynamo interop"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

3.2.1

## Revit version

2018.2

## Operating system

Win 10

## Improvement Suggestion

I'm getting the document object from a Revit Link Instance using the API, and found there is no way to cast it to the

[2018-01-03 10:33] amirabehery commented on #1817
did u know the cause of this error ? how u solve

[2018-01-03 15:05] aparajit-pratap commented on #1817
@anorsworthy could you send us your graph or outline the steps you took before you saw this exception. It will greatly help in debugging the issue.

[2018-01-04 06:08] amirabehery commented on #1817
Thanks Alot for your care really & i'll wait for your answer

On Wed, Jan 3, 2018 at 5:05 PM, aparajit-pratap <notifications@github.com>
wrote:

[2018-01-05 14:33] rannils opened #1897 "IndexGroup.ByIndices"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.2.2480

## Revit version

2018.2

## Operating system

Windows 7

## What did you do?

Use IndexGrop.ByIndices(a,b,c) which should store three indices

## What did you expect to see?

Three indices A B C

[2018-01-08 15:40] aparajit-pratap commented on #1897
@jnealb could you verify this?

[2018-01-08 21:32] jnealb commented on #1897
@rannils Thanks for reporting this. @aparajit-pratap this is tracked as QNTM-3094.

[2018-01-08 21:32] #1897 closed

[2018-01-09 07:24] ivy-a-tormes opened #1908 "Code Block greyed out in Dynamo 1.3.2 and 1.2.1"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.2 and 1.2.1

## Revit version

Revit 2017.2.2

## Operating system

Windows 7

## What did you do?

When I updated Dynamo into 1.3.2 version, it works fine when I first use it. But when windows updated a

[2018-01-10 21:30] ThomasMahon opened #1915 "LinePatternElement missing instances and throws an exception"
## Dynamo version

1.3.2

## Revit version

2018.2

## Operating system

Win 10

## What did you do?

Attempted to retrieve a LinePatternElement by name using an Revit built-in pattern (Solid), and I get this exception:

![image](https://user-images.githubusercontent.com/18601851/34796307-05edf63e-f64d-11e7-9988-66bdfb221b9d.png)

Also, the selection method doesn't list the Solid pattern nor a num

[2018-01-10 21:49] ThomasMahon commented on #1915
On further investigation this looks like a problem with the Revit API, not Dynamo:

![image](https://user-images.githubusercontent.com/18601851/34797364-13ad5c76-f650-11e7-873b-ad276d6e6c4a.png)

[2018-01-10 21:56] ThomasMahon commented on #1915
Answered my question - the LinePatternElement class only returns line patterns with dashes and dots, not built-in solid lines, which isn't classed as a LinePatternElement:

![image](https://user-images.githubusercontent.com/18601851/34797700-2c12bd50-f651-11e7-92f8-6e6fbaf824c8.png)

[2018-01-11 09:04] clovertong commented on #1890
Sorry for the late reply !

I realized that the problem is caused by on particular Custom Node only. In this Custom Node,  I am trying to select a curve/ a group of curves from Revit and convert them to Dynamo Curves directly all in once. Unlike the built-in Select Model Element Node, my Selection Node need to use an additional  button  to update curve position and it won't remember the informatio

[2018-01-12 18:34] des-hourihane opened #1917 "LinePatternElement.GetByName is deleting successive Line Patterns by selecting them (re-post)"
## Dynamo version

1.3.2.2480

## Operating system

Windows 10

## What did you do?

I fed a string into LinePatternElement.GetByName and it returned the corresponding Line Pattern.
I fed a different string in, it rerieved the corresponding Line Pattern but when I go to the Line Patterns dialog, the first Line Pattern is no longer available.
This pattern repeats every time I feed in a new value.
(

[2018-01-18 16:48] ThomasMahon opened #1918 "Element.Curve on ModelCurve Ellipses incorrectly constructs the ProtoCurve equivalent"
## Dynamo version

1.3.2

## Revit version
 2018.2

## Operating system

Win 10

## What did you do?

Create 4 duplicate half-ellipse Revit ModelCurve's, with coincident centres and start/end points and mirrored along its axes. Use Element.Curve to get ProtoCurves

**The ModelCurves in Revit:**
![image](https://user-images.githubusercontent.com/18601851/35109547-9c92548c-fc6e-11e7-8cb7-02c881d5f32

[2018-01-22 13:08] ThomasMahon opened #1919 "ToRevitType() throws an Invalid object excetion if called on an Elliptical Proto Arc with equal x and y radii"
## Dynamo version
1.3.2

## Revit version

2018.2

## Operating system

Win 10

## What did you do?

Called ToRevitType() on an elliptical arc with equal x and y radii

## What did you expect to see?

The equivalent Revit API curve

## What did you see instead?

![image](https://user-images.githubusercontent.com/18601851/35222257-38d20cc6-ff75-11e7-9ca5-e1bd51e4bc11.png)

![image](https://user-ima

[2018-01-22 17:01] ThomasMahon opened #1920 "ToProtoType() converts Revit API Ellipses erroneously by not converting units correctly"
## Dynamo version

1.3.2

## Revit version

(Which version of Revit are you using?)

## Operating system

Win 10

## What did you do?

Converted a Revit API Ellipse to a ProtoType using ToProtoType()

## What did you expect to see?

The equivalent ellipse as a Proto EllipseArc

## What did you see instead?
The raw parameter input into the Revit API Ellipse.Create() method is simply multiplied by 1

[2018-01-22 17:37] #1920 closed, assigned to nobody

[2018-01-23 17:20] ksobon commented on #1808
@phliberato Dynamo Player is not an open source project. Also, as far as I know the team working on it is different team that the one working on Dynamo itself.

cc: @kronz is that right? Is it advised to post comments and issues regarding Dynamo Player here? Would it be better to put these elsewhere?

[2018-01-24 13:57] kronz commented on #1808
@ksobon you are correct!  Player is implemented by another group at Autodesk, which is understandably a distinction without a difference for a lot of people.  I'll definitely pass along the request, and also tag @BogdanZavu if there are prefered places to record this desire.  Generally for Revit features, that place is here:  https://forums.autodesk.com/t5/revit-ideas/idb-p/302/tab/most-recent

[2018-01-24 13:57] #1808 closed

[2018-01-25 18:13] MarkThorley opened #1923 "IndependantTag Class Wrapper"
## Dynamo version
1.2.1

## Revit version
2018

## Operating system
Windows 10

## What did you do?
Creating an IndependentTag for a linked element then trying to wrap that element using the .ToDSType() method. The error I get is an internal error.

I get the same error when placing the tags and selecting them in Dynamo using the Select Model Elements node.

## What did you expect to see?
The Dyna

[2018-01-26 00:58] dimven commented on #1923
This was previously reported in #1840 , not sure if anything was changed in 1.3.3 to fix it tho?

[2018-01-26 11:59] MarkThorley commented on #1840
Nice, although WOW that seems to be very computationally heavy! Any thoughts?

[2018-01-31 19:19] xvmichal opened #1929 "03_sunlighthoursAnalisis.dyn"
Dynamo 1.3.2.2480

Revit 2018 student version

Windows 10 Pro

I used sample file '03_sunlighthoursAnalisis.dyn'

Run completed with warnings:

'minute must be in 0.59'

[2018-02-02 15:43] richschmitt commented on #1582
i believe this is a manifestation of the same issue (still unresolved)
![image](https://user-images.githubusercontent.com/779603/35741341-90c1e95e-0805-11e8-9d71-0278f6b73ff8.png)

Element.Name fails to process this list when the first item is undefined, if the first object was defined, all undefined objects would be processed as null

[2018-02-03 11:55] Thomas84 opened #1930 "Clockwork package missing in library - workaround makes me not happy"
What can I try to solve the problem? It seems this problem exists not only for Clockwork - have look into the log from the console at the bottom of this post.

/edit: I have deleted the Ayuda package, because I have discovered that the nodes are now included in Rhythm.

/edit2: I have deleted all packages with an error in the log (Modelical, WhatTheNode, Flux, BVN), except Clockwork - and now it w

[2018-02-03 12:52] Thomas84 commented on #1930
I have deleted all packages with an error in the log (Ayuda, Modelical, WhatTheNode, Flux, BVN), except Clockwork - and now it works!!!

[2018-02-03 13:21] Thomas84 commented on #1930
Seems like the BVN packge was the reason for the trouble. ( have installed it manually by extracting the files in the zip to a BVN folder, because of the many dependencies during the normal install process). As soon as I delete it again, everything works as expected.

[2018-02-05 04:36] ParametricMonkey commented on #1930
I don't think it is an issue with the BVN package. I have it installed with clockwork and it works fine on both Revit 2017.2 and 2018.1. I would recommend re-opening this issue and let the Dynamo team look into it.

![2018-02-05 14_32_58-dynamo](https://user-images.githubusercontent.com/10913639/35788576-20e8846c-0a8a-11e8-9398-6a2afeecfc60.png)

[2018-02-06 13:04] rottyfish opened #1931 "Filter elements by workset name" node crashed Dynamo"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.2.2480

## Revit version

2017

## Operating system

Windows 7 Pro

## What did you do?

Run "Filter elements by workset name" node and Dynamo crashed

## What did you expect to see?

(Fill in here)

##

[2018-02-12 15:11] ksobon commented on #1931
@rottyfish what package is that node from? Can you add images?

[2018-02-15 00:15] edwinguerra opened #1939 "Curved framing that follows complex surface is now broken in 1.3.2"
[1.31 Framing Complex Surfaces.dyn.zip](https://github.com/DynamoDS/DynamoRevit/files/1726059/1.31.Framing.Complex.Surfaces.dyn.zip)

## Dynamo version

1.3.2

## Revit version
2018

## Operating system
Windows 7-64bit

## What did you do?

Followed procedure described (also in video and sample files http://bit.ly/2gMt3cT ) at my blog:
http://summitaec.com/framing-a-complex-roof-structure-using-dy

[2018-02-15 11:23] MarkThorley opened #1940 "ToProtoType() Conversion not as expected"
## Dynamo version
1.3.2

## Revit version
2018

## Operating system
Windows 10

## What did you do?
I am attempting to convert a line/curve from Dynamo to a Revit Curve.

## What did you expect to see?
Using dynCurve.ToProtoType() I was expecting this to inherit the Autodesk.Revit.DB.Curve class.

## What did you see instead?
Regardless of whether the dynamo geometry is a line or a curve they both

[2018-02-15 11:25] MarkThorley commented on #1940
ToRevitType() I meant

[2018-02-15 11:30] mjkkirschner commented on #1940
can you share some sample code here, how are you trying to use the resulting geometry where you cannot?

[2018-02-15 11:33] mjkkirschner commented on #1940
maybe a more clarifying question, why do you need to cast to the curve type?

[2018-02-15 11:34] MarkThorley commented on #1940
hey Mike,
In the curve class there is a method called EndPointReference which doesnt exist in the Line class, hence why I need it as a curve.

                Autodesk.Revit.DB.Curve revitCurve = curve.ToRevitType();
                Autodesk.Revit.DB.Curve newCurve = revitCurve as Autodesk.Revit.DB.Curve;
                Reference endRef = newCurve.GetEndPointReference(1);

Even trying to be expli

[2018-02-15 11:34] MarkThorley commented on #1940
this is weird because the method in the RevitNodes.dll for the conversion says it returns a curve

public static Autodesk.Revit.DB.Curve ToRevitType(this Autodesk.DesignScript.Geometry.Curve crv, [bool performHostUnitConversion = True])
    Member of Revit.GeometryConversion.ProtoToRevitCurve

[2018-02-15 11:36] mjkkirschner commented on #1940
A line is a curve in Revit.DB - line is an inherited class, so it's odd that `EndPointReference` does not exist on a derived class.

the revit api docs say that method exists on line:
http://www.revitapidocs.com/2017.1/5619a3fd-38e1-fb56-7286-2e5f33a3b2b8.htm

not to say that your original point that this conversion method is maybe returning a line type incorrectly.

[2018-02-15 11:45] MarkThorley commented on #1940
On a curve but not on the line?
http://www.revitapidocs.com/2017.1/154b23e2-9f1f-813b-df56-e7c1bb347711.htm

[2018-02-15 11:53] MarkThorley commented on #1940
ye even as a line it runs a null

            var revitCurve = curve.ToRevitType();
            Autodesk.Revit.DB.Line revitLine = revitCurve as Autodesk.Revit.DB.Line;
            Reference endRef = revitLine.GetEndPointReference(1);

[2018-02-15 11:54] mjkkirschner commented on #1940
is it possible to upload this code and the curve you are running this on?
What happens if you do not perform this cast.

[2018-02-15 11:57] MarkThorley commented on #1940
I think I have found the issue.

"I would argue about the question-ability of the GetEndPointReference method. Agreed, it could probably be better documented to state more clearly that the references can only be obtained from curves that actually exist in a Revit model, but otherwise the method works well, I believe. It is also documented that it may return null, so I would advise that needs to be

[2018-02-15 12:04] mjkkirschner commented on #1940
just note, that I don't think you need to perform that cast either way, you're going to be calling the method that exists on the inherited class not the base class method.

https://stackoverflow.com/questions/8329470/convert-derived-class-to-base-class

[2018-02-15 12:04] mjkkirschner commented on #1940
so seems you may want to manually use a  transaction and ensure the line is actually in the model.

[2018-02-15 12:18] MarkThorley commented on #1940
Ye I'm trying to avoid placing loads of model curves in the model. I assumed taking the .FullCurve of the CurtainGridLine would give me an actual curve in the model.

http://www.revitapidocs.com/2018/6bc234da-f624-9ac2-a306-6e62cfc77945.htm

However it also seems to return null.
@ksobon how did you get around this when creating dims for curtain walls which is what I'm doing?

As you stated though

[2018-02-15 15:00] ksobon commented on #1940
[code]

[2018-02-15 20:34] Mudo32 opened #1941 "Sheet Schedule by ScheduleView.CreateSchedule warning"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
1.3.2.2480

## Revit version
2018

## Operating system
win 10

## What did you do?
Trying to create a sheet schedule with scheduleview.createschedule. I also testet all the Scheduletypes.

## What did you exp

[2018-02-16 15:39] jnealb commented on #1941
@kronz @mjkkirschner Ping.

[2018-02-16 15:50] #1940 closed

[2018-02-16 15:52] jnealb commented on #1939
@edwinguerra Thanks for reporting this apparent regression. @mjkkirschner @kronz Any thoughts?

[2018-02-16 15:54] jnealb commented on #1929
@xvmichal Can you please attach that dyn file here? Thanks.

[2018-02-16 15:57] jnealb commented on #1880
@AlixPOP Some detail can be found here: https://forum.dynamobim.com/search?q=avalonedit

[2018-02-16 15:59] jnealb commented on #1908
@ivy-a-tormes Is this still occurring? Have you had a chance to look at the posts here: https://forum.dynamobim.com/search?q=avalonedit?

[2018-02-16 16:24] kronz commented on #1939
Yep, this is fixed in 2.0, .  (It deals with some of the more proprietary geometry stuff in ASM.  For those "on the inside", https://jira.autodesk.com/browse/DYN-904, https://git.autodesk.com/Dynamo/LibG/pull/554 )
The summary is that the Revit geometry kernel in 2017 and before used a differnt way to deal with knots that the 2018 version.  I believe the workaround is re-building the curves as new

[2018-02-16 16:24] #1939 closed

[2018-02-20 21:47] thdesigns opened #1945 "Failed to Publish Locally"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.2.2480

## Revit version

Revit 2017.2

## Operating system

windows 10

## What did you do?

Attempted to Publish a New Dynamo Package and 'Publish Locally' but received this error. (see attached)
![180

[2018-02-20 23:02] thdesigns commented on #1945
Attempted to update the 'Manage Node and Package paths...' dialogue to point to the desired directory with the .dyf files I want to include in the package there with the same folder structure as I've observed in the other packages on my machine. (bin, dyf, extra, ...) Only thing that appears to be missing is the JSON manifest file to get it connected into Dynamo. Looking at other JSON files it doe

[2018-02-26 21:11] #1929 closed

[2018-02-26 21:13] xvmichal commented on #1929
Thanks for your support, but i haven't this file anymore.
I'm sorry for the trouble

[2018-02-27 15:22] ThomasMahon opened #1947 "Dynamo 2.0 Improvement: Node description box cant be scrolled"
## Dynamo version

2.0

## Revit version

2018

## Operating system

Win 10

## Improvement suggestion
The description box for the node expanded description no longer scrolls, which hides useful information that extends beyond the viewing box. Can this feature be restored to its previous incarnation?

![image](https://user-images.githubusercontent.com/18601851/36736949-c06a5986-1bd1-11e8-91a0-7f91

[2018-03-07 23:20] mengelmn opened #1950 "Excel Not Responding"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
1.3.2

## Revit version
2018.2

## Operating system
Windows 10

## What did you do?
Write a Value to A File Using out of the Box Write to Excel node from within Revit.
(Fill in here)

## What did you expect t

[2018-03-07 23:25] mengelmn commented on #1950
After forcing Excel Closed - Dynamo and Revit become Responsive with the following error noted in the write to excel node.

Warning: Excel.WriteToFile operation failed.
The RPC server is unavailable. (Exception from HRESULT: 0x800706BA)

![image](https://user-images.githubusercontent.com/20505196/37124102-88358980-222c-11e8-87fa-8ca8bc4ce75a.png)

[2018-03-08 03:11] mengelmn commented on #1950
After much digging I have a solution - though still baffeled at the cause.
It is related to the GPU vs Integrated Graphics.

Excel will not run on the GPU has to be run on the integrated Graphics Card.  Which in the settings it is set to only use the Integrated

When running Dynamo Studio or Sandbox and writing to Excel, Excel does not use the GPU,  Dynamo Shows as pulling the GPU but Excel Does N

[2018-03-08 03:11] #1950 closed

[2018-03-08 12:38] jnealb commented on #1950
This is great; nicely done :)

[2018-03-08 16:39] DmitryMD opened #1951 "Dynamo crashes every time when I am trying to expand Operators category in the Library"
## Dynamo version

Dynamo for Revit 1.3.2
Revit 2017.2.3

## Operating system

Windows 10

## What did you do?

Dynamo crashes every time when I am trying to expand Operators category in the Library giving error message, see below.

## What did you expect to see?

List of nodes from Operators category

## What did you see instead?

An Error message with the following:

![dynamo crash](https://user

[2018-03-09 02:01] dimven commented on #1951
Yikes, how did that one sneak in:

![image](https://user-images.githubusercontent.com/7148394/37186502-ca2ee4c6-2380-11e8-9e97-890b354022b6.png)

Note that "Operator" can not be selected anymore(no underline), unlike the "Math" category right under it.

[2018-03-09 06:48] andydandy74 opened #1952 "DYN files open in custom node workspace"
## Dynamo version

2.0.0.4297

## Revit version

2017.2

## Operating system

Windows 10

## What did you do?

Open a DYN file

## What did you expect to see?

Its workspace

## What did you see instead?

DYN file is opened as custom node (works okay in Sandbox)
![grafik](https://user-images.githubusercontent.com/3014437/37194277-be0e7b42-236d-11e8-99f5-444029944263.png)
I tried this with a number

[2018-03-09 13:08] QilongTang commented on #1952
@jnealb @smangarole

[2018-03-09 15:15] jnealb commented on #1952
@andydandy74 @QilongTang @alfarok @mjkkirschner Not able to repro this with latest internal build:

![image](https://user-images.githubusercontent.com/9357222/37214328-af221660-2382-11e8-8644-00847ed6340c.png)

[2018-03-09 15:52] andydandy74 commented on #1952
@jnealb Just rechecked on my work machine - same issue in Revit 2017.2.3 (as opposed to 2017.2 at home). Seems to be limited to Revit 2017 running in **German**. Works just fine in English UI.

[2018-03-09 15:58] andydandy74 commented on #1952
While I was at it, I checked in French as well, same issue:
![grafik](https://user-images.githubusercontent.com/3014437/37216436-0a2966b6-23bb-11e8-98ba-51f15217ae1e.png)
So most likely a localization issue? I would guess that this happens in all non-English versions.

[2018-03-09 16:04] jnealb commented on #1952
will look

[2018-03-09 18:28] mjkkirschner commented on #1952
I can't seem to reproduce it yet, but I have only tried setting Revit to DEU -not my entire system.
![screen shot 2018-03-09 at 1 22 15 pm](https://user-images.githubusercontent.com/508936/37223116-82ed0300-239d-11e8-8236-28929637ce1f.png)

@andydandy74 I am also on 2017.2, and core 2.0..04297

[2018-03-09 18:30] mjkkirschner commented on #1952
@jnealb even after setting revit to DEU I am still getting Dynamo menu items in english, what am I missing there?

[2018-03-09 18:38] mjkkirschner commented on #1952
@andydandy74 I can reproduce it when Dynamo goes into localized mode...
:(

[2018-03-09 18:39] mjkkirschner commented on #1952
<img width="835" alt="screen shot 2018-03-09 at 1 39 04 pm" src="https://user-images.githubusercontent.com/508936/37223663-40853652-239f-11e8-87ff-3292926e6c9e.png">

@jnealb @kronz

[2018-03-09 18:55] jnealb commented on #1952
@andydandy74 @mjkkirschner This is tracked with QNTM-3652.

[2018-03-11 00:39] mjkkirschner commented on #1952
@andydandy74 this should be resolved in the daily builds sometime next week.
https://github.com/DynamoDS/Dynamo/pull/8642

[2018-03-16 02:45] VinodAbraham opened #1958 "Dynamo crashes when i run the script"
Hi there,
Can you please advise me on this. I want to get centre of gravity of multiple elements in Revit 2017. this is the following error I run into when I use dynamo version Dynamo Revit 1.3.2.2480 (windows 10).

Unable to create a BoundingBox around the input Geometry : ACIS_EXCEPTION_FLT_INVALID_OPERATION -- Invalid float operation

   at Autodesk.LibG.Geometry.bounding_box()
   at Autodesk.L

[2018-03-16 14:59] andydandy74 commented on #1680
Working as expected in 2.0

[2018-03-16 14:59] #1680 closed

[2018-03-16 15:01] andydandy74 commented on #1662
Working as expected in 2.0

[2018-03-16 15:01] #1662 closed

[2018-03-16 21:12] andydandy74 opened #1960 "Issues with retrieving element geometry from FaceWalls"
## Dynamo version

2.0.0.4385 (Core) / 2.0.0.4386 (Revit)

## Revit version

2017.2.3 / 2018.2

## Operating system

Windows 7 / Windows 10

## What did you do?

Try to retrieve the geometry from a couple of FaceWalls
![grafik](https://user-images.githubusercontent.com/3014437/37544645-f21d2232-2965-11e8-8b4b-efe5c476ee8d.png)

## What did you expect to see?

Dynamo solids

## What did you see ins

[2018-03-16 21:15] andydandy74 commented on #1960
File here: https://www.dropbox.com/s/53l5hs5p1q1ng3k/1960_FaceWallGeometryIssues.zip?dl=0

[2018-03-16 21:15] mjkkirschner commented on #1960
do you happen to know what type of surfaces these are?
do you have any luck selecting individual faces to find out which face causes the problem? I bet it's the curved one ;)

thanks for the upload.

[2018-03-16 21:44] andydandy74 commented on #1960
![grafik](https://user-images.githubusercontent.com/3014437/37545307-bb6f4b36-2968-11e8-8e6f-d849cc612ef9.png)
I'd need to dig and see if I still have a file that has the masses. But if I recall correctly:
1 was a ruled surface based on two lines
2 was a blend of two arc profiles
3 was a simple extrusion of an arc profiles

[2018-03-16 21:50] andydandy74 commented on #1960
Only the two horizontal faces of wall 3 are okay. All other faces throw the following warning:
[code]

[2018-03-19 20:55] jnealb commented on #1751
@esteban-campos This is fixed in the latest daily builds.

[2018-03-20 01:22] dimven commented on #1960
What I find annoying is that even if you go on rebuilding this face by face, tessellating the ones that fail, you'll still not be able to merge the resulting faces back into a solid:
![revit_2018-03-19_17-43-22](https://user-images.githubusercontent.com/7148394/37629833-06a793e6-2c1c-11e8-9ef1-8315b8fd18dd.png)

Rebuilding the geometry from scratch every time is both costly and finicky. There's be

[2018-03-20 14:38] mjkkirschner commented on #1930
a dll is being blocked by .net:
0x80131515

did you download the package manually from dynamo packages.com or host the package on a network location?

make sure to unzip it with 7zip if you download directly or make your package location a trusted site.
googling that error code may help you.

[2018-03-23 16:46] mpguru66 opened #1968 "Dynamo 2.0 node library is missing / isn't showing at all."
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Dynamo Core 2.0.0.4400
Dynamo Revit 2.0.0.4400

## Revit version

Revit 2018.2
## Operating system

Windows 10

## What did you do?

Opened dynamo 2.0
## What did you expect to see?

Node Library
## What did

[2018-03-23 16:49] mjkkirschner commented on #1968
remove pnid modeler from you revit installation /addins folder.

[2018-03-23 21:05] mpguru66 commented on #1968
Michael,

Okay, thanks a lot.

On Fri, Mar 23, 2018 at 9:49 AM, Michael Kirschner <notifications@github.com

[2018-03-24 19:35] andydandy74 commented on #1952
Looking good. Thanks!

[2018-03-24 19:35] #1952 closed

[2018-03-25 15:27] ThomasMahon opened #1969 "Improvement: Ability to set EntityTags and ToProtoType() restriction"
## Dynamo version

1.3.2

## Revit version

2018.2

## Operating system

Win 10

## What did you do?
Problem:  OOTB FamilyInstance.ByFace node throws an exception if the face is derived from a linked Revit model. The reason for this is because the face reference has to call one of the newer Revit 2018 Reference methods to create the link reference, rather than simply implementing face.Reference.

[2018-03-26 01:17] dimven commented on #1969
A ValueError exception is raised when the tag is set multiple times, but the new value is still set successfully:

![image](https://user-images.githubusercontent.com/7148394/37882506-65eacde6-30d6-11e8-9656-25bff947e0ba.png)

Have you tried catching the exception?

[2018-03-26 10:27] ThomasMahon commented on #1969
I didn't need to as the I was transforming a solid then extracting its faces and converting to a surface which results in no face references, and that made it easy to set the RevitFaceReference tag without issue. Nice workaround however, I wasn't aware that would work... but really, purpose-built methods need to be added to the EntityTag class.

[2018-03-26 10:38] ThomasMahon commented on #1969
Here is a list of the methods EntityTag class would benefit from:
**Methods**
RemoveTag()
ReplaceTag()

**Properties**
Keys
Values

**Enum**
Using strings as keys seems a bit flimsy, so it would be good if a list of built-in enums was created for all the tags other Revit nodes depend on. Custom tags obviously use strings, adopting a similar principle to Revit parameter conventions:
BuiltInEntityTa

[2018-03-27 09:32] kennyb6 commented on #1673
A button next to the Run that just lets you to detach and commit what you have done would be awesome. I am pretty new to Dynamo but one graph I have been using often is to place lighting fixtures around a cove using select edge, due to the cove being a generic model of varying sizes. Because select edge stops when a line changes to an arc or something else, I have to run the script multiple times

[2018-03-27 14:52] andydandy74 commented on #1960
Here's an another example. The attached family contains four solids, yet only two of them make it into Dynamo.
[MissingSolids.zip](https://github.com/DynamoDS/DynamoRevit/files/1852461/MissingSolids.zip)

[2018-03-29 11:27] MonaHa88 opened #1970 "Revit Selection Nods"
I installed  Dyname after a while again but now I dont have the Revit Selection Tools which are usually available in Dynamo.I also cant find any packages which include them.
Does anyone know what is wrong with my Dynamo?
How it Looks in my Dynamo:
![screenschott](https://user-images.githubusercontent.com/32361136/38086429-d117453a-3343-11e8-9856-0b377c3420ee.jpg)
What Im looking for:
![categories]

[2018-03-29 16:00] QilongTang commented on #1970
![image](https://user-images.githubusercontent.com/3942418/38099383-79d541fa-3348-11e8-90d5-aa22090a61ba.png)

@MonaHa88 Can you update here what version of daily build you are using? That may indicate that we have a corrupted DynamoRevit build we need to remove, however we need version number to investigate. The version info can be found at **help** -> **about**

[2018-03-31 11:26] mgjean opened #1972 "Suddenly cannot import IronPython 2.7\Lib modules anymore"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
1.3.2

## Revit version
Revit 2017.2

## Operating system
Windows 10

**EOF Error** occurs while importing modules. **_In fact, I've already tried to import all module from this directory, "C:\Program Files (

[2018-04-02 16:44] aparajit-pratap commented on #1972
@mjkkirschner any clues?

[2018-04-02 16:46] mjkkirschner commented on #1972
if you goto the installed lib folder is os.py present?

[2018-04-03 08:37] MonaHa88 commented on #1970
Yes, currently I have installed 1.3.0.875
but I tried, 1.3.1, 1.3.0, and 0.09.2
![2](https://user-images.githubusercontent.com/32361136/38238671-243ad572-371a-11e8-9099-5c19ac62bdff.jpg)

[2018-04-04 14:01] ksobon commented on #1802
@andydandy74 that's probably because if I remember correctly Revit API has no such thing as Circle. Please see here for reference: http://spiderinnet.typepad.com/blog/2013/05/revit-net-api-no-full-circle-only-two-half-circles.html

[2018-04-04 19:25] andydandy74 commented on #1802
@ksobon Here's what ```doc_create.NewDetailCurve(view, curve.ToRevitType())``` will create in Revit:
![grafik](https://user-images.githubusercontent.com/3014437/38329593-92eab82c-384e-11e8-9d9d-5b682198cf80.png)

[2018-04-05 00:12] mgjean commented on #1972
I can import these modules on Command Line and IronPython Console but not in Dynamo Python Script.

[2018-04-05 01:11] mgjean commented on #1881
You can use [LookupParameter](http://www.revitapidocs.com/2017.1/4400b9f8-3787-0947-5113-2522ff5e5de2.htm) method and use [AsString](http://www.revitapidocs.com/2017.1/7aff8476-0396-fc08-27b4-467e4017f6a7.htm) method to get readable name.

![pic](https://user-images.githubusercontent.com/24647753/38342435-f1b777a2-38b0-11e8-9601-00f17a0d7029.PNG)

[code]

[2018-04-09 09:06] Julian-Krab opened #1987 "Runtime exception occured. The Type of StackValue is not Integer"
## Dynamo version

1.3.2.2480

(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

2018.2

## Operating system

Windows 10

## What did you do?

Pressed Run

## What did you expect to see?

Replaced strings.

## What did you see instead?

Runtime exception occured. The Type of StackValue is not Integer

   at ProtoCore.DSASM.StackValue.get_IntegerValue()
   at ProtoCor

[2018-04-09 09:11] Julian-Krab commented on #1987
After restarting Dynamo issue disappeared.

[2018-04-10 15:04] nmwergin opened #1995 "Unhandled Exeption in Dynamo Engine"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.2

## Revit version

Revit 2018.3

## Operating system

Windows 7

## What did you do?

Tried to run script

## What did you expect to see?

It to export data to Excel

## What did you see instead?

Unha

[2018-04-10 21:15] moni87d opened #1996 "Unhandled Exception - Object reference not set to an instance of an object"
Dynamo 1.3.2.2480
Revit 2016 and 2017
Windows 10

Running quite a big script for model audit and when run in Revit 2016/2017 I get the Unhandled Exception bug report. The script still runs though.
Works fine in Revit 2018.

Object reference not set to an instance of an object.

   at ProtoCore.DSASM.Heap.RecursiveMark(StackValue root)
   at ProtoCore.DSASM.Heap.SingleStep(Boolean forceGC)
   at Pr

[2018-04-11 18:15] jnealb commented on #1996
@moni87d We are releasing D4R 1.3.3 soon, can you please try again with the newer version?

[2018-04-11 18:29] ksobon commented on #1410
@kronz if I am not mistaken this was merged here: https://github.com/DynamoDS/DynamoRevit/pull/1579

[2018-04-11 18:33] ksobon commented on #1915
@kronz can we close this? There is no action here.

[2018-04-11 18:38] ksobon commented on #996
@AndrewHeumann is this still an issue? cc: @kronz can you follow up with @AndrewHeumann and get this closed? Thanks!

[2018-04-11 18:42] AndrewHeumann commented on #996
I neither own that computer nor use dynamo anymore ¯\_(ツ)_/¯

[2018-04-11 18:48] ksobon commented on #996
Stop bragging.....

Ps. Gotta escape that first backslash dude. ¯\\_(ツ)_/¯

[2018-04-12 00:56] kronz commented on #996
Sigh . . . the love is just palpable.
Closing as "Can't reproduce"

[2018-04-12 00:56] #996 closed

[2018-04-12 00:57] kronz commented on #1915
Closing, nothing to fix here

[2018-04-12 00:57] #1915 closed

[2018-04-12 00:59] kronz commented on #1410
@aparajit-pratap will this issue be addressed by #1579 ?  Please close if so

[2018-04-12 02:00] ksobon commented on #1931
@kronz I think that this is a node from a 3rd party package, not OOTB. Also this was dormant and request for more information has gone unanswered for over 2 months now. Can we close this? User can always re-open if they want to raise this issue again.

[2018-04-12 02:07] ksobon commented on #1581
@kronz this was fixed and merged here: https://github.com/DynamoDS/DynamoRevit/pull/1888

[2018-04-12 02:12] ksobon commented on #1094
@OrsHH so basically the issue was that Dynamo didn't have ability to display dictionaries, and JSON file that you showed above would get deserialized into just that. With that being said, it would still work, you just can't assign it to the OUT variable. Now, the Dynamo 2.0 that will come out soon will have that fixed. You can get it right now, just download one of the daily builds from here: http

[2018-04-12 02:16] ksobon commented on #1996
@moni87d we would have to see more from you to be able to re-create the issue here. First and foremost a sample file, Dynamo definition and a small Revit file that we can run it on to re-create the issue. If you are using custom packages in that definition, getting a list of these would help as well. There is a lot of things that can potentially be causing this, and what you posted is not enough f

[2018-04-12 02:25] ksobon commented on #1960
@dimven I don't think that Revit and Dynamo are on the same geometry kernel. I was under the impression that Revit uses Solids and has it's own geometry engine that is different from Dynamo's. @kronz am I wrong here?

[2018-04-12 02:39] dimven commented on #1960
My humble understanding is that both use ASM (called libG, Alias or whatever internally) as the basis. I imagine each would have their own wrapper around the core classes of that library. But even if Dynamo adds newer extensions to that core library, it might still be able to unwrap to the internal base class, pass that on to Revit and let Revit handle it, or vice versa.

[2018-04-12 04:53] andydandy74 opened #2002 "All Elements of Category returns null for some views"
## Dynamo version

Dynamo Revit 2.0.0.4607

## Revit version

2018.3

## Operating system

Windows 10

## What did you do?

Retrieved all elements of Views category

## What did you expect to see?

A list of views

## What did you see instead?

A list of views with some null values in between
![grafik](https://user-images.githubusercontent.com/3014437/38656948-fe0811ac-3e1d-11e8-8098-7e07dc35b4ba.

[2018-04-12 12:56] ksobon commented on #2002
@andydandy74 they are probably 3d view templates. It should be fixed here: https://github.com/DynamoDS/DynamoRevit/pull/1999

[2018-04-12 13:04] ksobon commented on #1987
@kronz can we close this as not reproducible?

[2018-04-12 15:55] kronz commented on #1960
Dynamo uses a different Geometry kernel from the kernel for creation of "real" Revit element geometry.  Revit's geometry tools are optimized around the particular things that Revit does well (handling tons of wall intersection events, making roof extrusions, etc).  Dynamo uses a generalized Solids and surface modeling tool (ASM) that Revit uses for certain import/export operations, and is used by

[2018-04-12 18:38] #1410 closed

[2018-04-12 21:16] moni87d commented on #1996
Hi @ksobon and @jnealb - thanks for your help. I have managed to find the area of the script that was causing the problem and shuffled some nodes around to improve the workflow and that seems to have worked. I don't get the error anymore. I was just trying to pull out viewport information to compare viewport families with the viewport types - they were mainly core nodes and some from the Rhythm pa

[2018-04-12 21:16] #1996 closed

[2018-04-14 02:01] kronz commented on #1094
I defer to @mjkkirschner on this

[2018-04-14 02:02] #1581 closed

[2018-04-14 02:03] kronz commented on #1931
Agreed, appears to be from an outside package

[2018-04-14 02:03] #1931 closed

[2018-04-14 05:59] andydandy74 commented on #1094
Afaik you still can't assign dictionaries to the OUT variable in Python directly, but I guess you could convert them to Dynamo dictionaries (using ```Dictionary.ByKeysValues```) beforehand.

[2018-04-14 19:04] andydandy74 opened #2009 "Dynamo UVs not translated correctly to Revit UVs"
## Dynamo version
Dynamo Core 2.0.0.4604
Dynamo Revit 2.0.0.4607

## Revit version
2017.2.3

## Operating system
Windows 7

## What did you do?
Used ```AdaptiveComponent.ByParametersOnFace``` to place some ACs
![grafik](https://user-images.githubusercontent.com/3014437/38771601-4ba48d78-4026-11e8-9ff3-abc06d3cbe4f.png)

## What did you expect to see?
Dynamo UVs translating correctly to Revit UVs
E

[2018-04-14 19:41] andydandy74 opened #2010 "UV grid distribution not matching divided surface grid distribution on curved surfaces"
## Dynamo version
Dynamo Core 2.0.0.4604
Dynamo Revit 2.0.0.4607

## Revit version
2017.2.3

## Operating system
Windows 7

## What did you do?
Distributed a grid of UVs as reference points on a surface in a Revit conceptual mass
![grafik](https://user-images.githubusercontent.com/3014437/38771936-4bb4a20c-402c-11e8-8c7e-05b59132627b.png)

## What did you expect to see?
The same grid distribution

[2018-04-16 11:26] TimWaldock opened #2011 "Dynamo does not support 2016 and 2019 simultaneously"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version 1.3.3

(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

## Revit version 2016 & 2019

(Which version of Revit are you using?)

## Operating system Win 7

(e.g. Windows 7, Windo

[2018-04-16 23:21] AWRash opened #2012 "Alpha-numeric detail numbering... but invert the x-axis!"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo 1.3.2.2480

(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

## Revit 2018

(Which version of Revit are you using?)

## Windows 10

(e.g. Windows 7, Windows 8.1, etc)

## What did you

[2018-04-17 01:26] ksobon commented on #2011
@TimWaldock I think it does if you believe this:
![image](https://user-images.githubusercontent.com/529781/38843361-af8c73cc-41bc-11e8-927d-121fd6181dc0.png)

Give it a try installing both versions and report any issues if such arise. I have personally ran 1.3 and 2.0 on my machine without issues.

@kronz am I right saying that this is a non-issue?

[2018-04-17 05:11] dimven commented on #2011
There were very few changes in the Revit facing D4R codebase between 1.3.2 and 1.3.3:

https://github.com/DynamoDS/DynamoRevit/compare/RC1.3.2_Revit2018...RC1.3.3_Revit2018

and I don't see why you couldn't have included the 2016 deployment in there. With the official release of 2.0, all 1.3x branches are technically EOL and would not be modified or supported any further...

[2018-04-17 11:57] AWRash commented on #2012
let me know if it would help anyone to have the .dyn file to facilitate a solution

[2018-04-17 12:15] andydandy74 commented on #2012
You should take this question to the forum:
https://forum.dynamobim.com/
The GitHub site is for recording bugs and feature requests only.

[2018-04-17 13:15] dimven commented on #2011
@andydandy74 bingo. 2.0 is not backwards compatible, so that would mean twice the work.

[2018-04-17 13:18] AWRash commented on #2012
Sorry for for misunderstanding where to post this - I'll close the issue

[2018-04-17 13:27] ksobon commented on #2011
Backwards **incompatibility** is not exactly a new concept in Software. Majority of software is not backwards compatible for the same reason that Dynamo is not...major improvements requires breaking API changes, and that's just the name of the game. Could they have done it in a way that was not breaking it all apart? Maybe, but do you want to wait for two more years before finding out? If you ask

[2018-04-17 13:34] dimven commented on #2011
Agreed, everyone expected 2.0 to support only 3 versions of Revit, but the fact remains that 1.3.3 is a *minor* point release :)

[2018-04-17 13:38] #2012 closed

[2018-04-17 13:43] andydandy74 commented on #2011
@ksobon Agreed, no surprises here. And fortunately enough I'm not even affected by this. :-) But @dimven has a point here in that it it would only require a minimal effort to provide an (unsupported) Dynamo 1.3.x release that would work for Revit 2016-2019. Could be a community effort by interested parties, could it not?

[2018-04-17 13:59] ksobon commented on #2011
@andydandy74 yeah that's a valid point, but I am a little surprised that it comes from a German guy. Rules are rules man...three (3) versions at a time, and that were the versions supported at the time. Also, your idea sounds reasonable and I pretty much have an issue with @TimWaldock projecting outrage that it was not implemented. Well it wasn't implemented because it would break the agreed upon

[2018-04-17 15:27] QilongTang commented on #2011
@dimven You definitely have a point here. The whole reason like @ksobon already mentioned, the decision of that Dynamo 1.3.3 needs to be shipped with Revit 2019 comes with the cost that three versions backwards, we stopped supporting for R2016.

@andydandy74 On the other hand, I think installer code is closed source ( the installer code in DynamoRevit repository is out-of-date) so it would be hard

[2018-04-18 12:58] TimWaldock commented on #2011
@ksobon - My apologies for the rant.  Its the usual siuation of writing while frustrated instead of waiting to be more rational.   I should explain where I'm coming from:   Although the Revit licensing typically supports only 3 concurrent years, I have it in writing from Autodesk (and spoken at an AU conference in front of hundreds) that in fact Autodesk will extend licenses to cover 4 years if we

[2018-04-19 07:47] SJM84 opened #2017 "square millimeter volume incorrect"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

## Revit version

(Which version of Revit are you using?)

## Operating system

(e.g. Windows 7, Windows 8.1, etc)

## What di

[2018-04-19 14:36] smangarole commented on #2017
@SJM84 Can you please provide more information so that we can have a better idea? Information like OS, Revit version if any, Dynamo Version, DynamoRevit version, etc.. is needed.

[2018-04-20 13:33] des-hourihane opened #2019 "Dynamo 2.0 conflict with NBS Plugin"
## Dynamo version

Dynamo Revit 2.0.0.4655
(Dynamo Core 2.0.0.4654)

## Revit version

Revit 2017.2
17.0.1150.0
20171027_0315(x64)
2017.2.3
(Problem seems to be common to 2018.2 also)

## Operating system

Edition	Windows 10 Pro
Version	1709
OS Build	16299.374

## What did you do?

Opened Dynamo 2.0, Started a new Graph (or Custom Node - tested this also).

## What did you expect to see?

Workspac

[2018-04-20 22:30] andydandy74 commented on #1812
https://forum.dynamobim.com/t/element-color-override-in-views/21112/

[2018-04-21 15:44] ksobon commented on #2019
Let me ask you a question: when you work in Revit, does the NBS plugin work just fine? If the answer is yes, then it's not related to Dynamo. Dynamo only exposed a pre-existing issue that NBS plug-in and Revit had. Dynamo is a plug-in for Revit just like the NBS tool. Unlike the NBS tool, it has a tool in there that tracks conflicts between 3rd party libraries and notifies you if such exists. That

[2018-04-21 16:53] Alex-Tohidi opened #2020 "Libraryies are missing"
## Dynamo version
2.0.0
(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

## Revit version
2017
&
2018
(Which version of Revit are you using?)

## Operating system
Win10
(e.g. Windows 7, Windows 8.1, etc)

## What did you do?

Opening Dynamo through Revit,
All the library are missing
Don't have this problem in Sandbox.
uninstalled Add-in , no luck

While load ing ass

[2018-04-23 14:09] ramramps commented on #2020
@Alex-Tohidi https://github.com/DynamoDS/Dynamo/issues/8768
This is similar to this. Can you check this page and see whether that solves the issue?

[2018-04-24 18:20] DavePlumb opened #2021 "AvalonEdit.Editing.TextArea.ClearSelection crash"
## Dynamo version

1.3.2 and 2.0

## Revit version

2018.2

## Operating system

 Windows 7 SP1
Fairly large graph, been working on it all morning with no incident
I'm trying to edit a Code Block and get a crash with following error
I've tried closing & restarting several times, and it just doesn't like Code Blocks anymore
Tried to create a new CodeBlock node & got the same crash
I'm running in Ma

[2018-04-24 18:31] DavePlumb commented on #2021
Same error after a reboot

[2018-04-24 20:27] DavePlumb commented on #2021
Now this is happening in a brand new Dynamo graph, in a brand new REvit project.
In Revit 2017 and 2018.
I did recently install Dynamo 2.0, but that was last week, and I have done a lot of work before this started happening. Including using Code Blocks.
Even in a clean graph, I get this crash ANY time I try to use a Code Block.

[2018-04-24 20:50] DavePlumb commented on #2021
**_This is an incompatibility between 1.3.2 and 2.0_**
I uninstalled all versions of Dynamo, then installed just 1.3.2
CodeBlock worked fine
Then I reinstalled 2.0
The error above returned.

[2018-04-24 21:17] mjkkirschner commented on #2021
@QilongTang we try to preload the avalon edit dll from here to avoid incompatible versions:
https://github.com/DynamoDS/DynamoRevit/blob/8e254612f9be6bdf72cb4a04a6de746ea31c6aa4/src/DynamoRevit/DynamoRevit.cs#L396

@smangarole have you tested side by side with these versions?

@DavePlumb do you see any errors or notifications in the dynamo notifications menu (green circle)

[2018-04-24 21:43] DavePlumb commented on #2021
I assume you mean the Notifications next to "Help"?
Nothing there
![image](https://user-images.githubusercontent.com/18071127/39215741-a4aea86c-47de-11e8-9b6a-11fa7faab353.png)

[2018-04-24 21:58] mjkkirschner commented on #2021
so it looks like you are showing 1.3.2 there, does this also happen with 2.0 after the install... - it seems unlikely but it might be worth removing dynamo packages / revit addins. If there was a conflict with an addin I would expect to see a notification about it- so this bizarrely seems to be a conflict with revit's dependencies itself... which is pretty odd.

It has come up before though, befor

[2018-04-25 16:57] DavePlumb commented on #2021
I do have another copy of AvalonEdit.dll - from the pyRevit AddIn.
But Dynamo 1.3.2 runs fine with pyRevit.
It only crashes when I install 2.0 (2.0 is NOT installed in this screenshot)
![image](https://user-images.githubusercontent.com/18071127/39260643-b6c6f512-487f-11e8-9d76-51c159ea037a.png)

[2018-04-25 17:04] mjkkirschner commented on #2021
I don't think pyRevit actually uses that dll anymore.

can you confirm that both 1.3.2 and 2.0 are busted when you install 2.0? Or is only 1.3.2 broken?

[2018-04-25 19:19] rgesner opened #2022 "[Improvement] Reference View-Only Dynamo window to copy from"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
1.3.2.2480
## Revit version
2018
## Operating system
Windows 10

Wish for Improvement:
I often want to review scripts I’ve previously created and/or copy groups of nodes from them. To do so, I have to save an

[2018-04-25 20:28] smangarole commented on #2021
@DavePlumb @mjkkirschner I am not able to reproduce this issue. I installed Revit 2016 and 17 on a machine. Removed all Dynamo versions, cleaned up the registry and then installed 1.3.2 and 2.o on top of 1.3.2. Please note that I was using winodows 10.
I tried editing the code block in a script. Did not get a crash.

[2018-04-25 21:39] moni87d opened #2023 "Views List not ordered alphabetically"
## Dynamo version

1.3.2

## Revit version

Revit 2017

## Operating system

Windows 10

## What did you do?

Used the Views node

## What did you expect to see?

Views sorted alphabetically

## What did you see instead?

Views NOT sorted alphabetically

[2018-04-26 17:34] jnealb commented on #2021
@DavePlumb @smangarole Do you have other Revit Addins installed?

[2018-04-28 17:08] andydandy74 commented on #2023
@mjkkirschner Well, it would make sense to have all dropdowns ordered alphabetically, wouldn't it? Especially on large projects that easily have a high three figure number of views. The ```Family Types``` dropdown node is a good precedent, I think.
I originally reported this for Dynamo 1.1 (#1264). It was fixed by @ksobon (#1316) but I think that PR never got merged in the end.

[2018-04-29 09:48] alkhayyatw opened #2024 "Dynamo Core could not be found though it is installed."
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

(2.0.0)

## Revit version

(Revit 2019 and 2018)

## Operating system

(Windows 10)

## What did you do?

(I opened Revit as usual and a warning popped up saying "Dynamo Add-In is not able to find an install

[2018-04-29 21:47] moni87d commented on #2023
@mjkkirschner I think @andydandy74 gave the perfect explanation for me already.
The node is impossible to use at the moment, particularly if you have a project with hundreds/thousands of views.

[2018-04-29 22:39] ksobon commented on #2023
@andydandy74 2.0 has it sorting properly.
![image](https://user-images.githubusercontent.com/529781/39411674-a7285bfe-4bdc-11e8-8199-75a8df5ca232.png)

problem solved?

[2018-04-29 23:01] andydandy74 commented on #2023
Sure. Never bothered to look whether this was fixed in 2.0 ... :-)

[2018-04-29 23:15] moni87d commented on #2023
@ksobon thanks... will wait patiently until I can get 2.10 then

[2018-04-29 23:15] #2023 closed

[2018-04-30 14:28] mathib opened #2025 "Copy/pasting/deleting nodes does not work anymore in Revit 2019"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

Tested in v.1.3.3 and 2.0.0

## Revit version

Tested on Revit 2019.0.1.1

## Operating system

Wind 10

## What did you do?

Use ctrl+v/ctr+c/delete to copy/paste/delete one or more nodes

## What did you e

[2018-04-30 14:34] mjkkirschner commented on #2025
this is a known issue with revit 2019, and should be fixed in the next point release there.

[2018-04-30 14:34] #2025 closed

[2018-05-01 17:00] JLMarCa opened #2026 "Failure to start Dynamo"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version
2.0.0.0.4655

(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

## Revit version
2017.2.3

(Which version of Revit are you using?)

## Operating system
Windows 10

(e.g. Windows

[2018-05-01 17:27] ramramps commented on #2026
Can you go to the `green` icon on the top and get the notifications?
Also, do you have McAfee installed on your machine?

[2018-05-01 21:11] JLMarCa commented on #2026
Hi

I have 5 notifications

I copy and paste the information of each of them

My antivirus program is the Norton version 22.14.0.54

Regarding Dynamo ... I have already tried to uninstall and reinstall
several times and I have always obtained the same error at the start of the
application

thank you so much for your attention

Best regards

*José-Luis Martínez Cava*
Arquitecto Técnico e Ingeniero

[2018-05-02 10:09] JLMarCa commented on #2026
Hi

I have 5 notifications

I copy and paste the information of each of them

My antivirus program is the Norton version 22.14.0.54

Regarding Dynamo ... I have already tried to uninstall and reinstall several times and I have always obtained the same error at the start of the application

thank you so much for your attention

Best regards

JlMarCa

![image](https://user-images.githubusercontent.c

[2018-05-02 13:12] mjkkirschner commented on #2026
same as :https://github.com/DynamoDS/DynamoRevit/issues/2019

[2018-05-02 15:29] JLMarCa commented on #2026
Thank you very much for your quick response Michael
I have deactivated plugin NBS and Dynamo works!!!
Great!
Best regards

[2018-05-02 17:54] smangarole commented on #2026
Thanks for the update @JLMarCa. Closing this for now.

[2018-05-02 17:54] #2026 closed

[2018-05-02 18:00] dannysbentley commented on #1968
![image](https://user-images.githubusercontent.com/6655476/39540495-a7a0a9ac-4df7-11e8-84c5-2747d70ddd69.png)

Revit 2018.2
Dynamo 2.0 (just installed.)
Windows 8
Node Library is missing.

What is the location of the pnid file?

Same issue.

[2018-05-02 18:17] jnealb commented on #1968
Folder, just move it somewhere else in case you need it later.

[2018-05-03 03:38] aminghali commented on #2024
I have the same problem

[2018-05-03 14:54] jnealb commented on #2024
@aminghali @alkhayyatw One suggestion: first un-install all versions of Dynamo, using the Microsoft Fixit utility if necessary (for uninstall). Then uninstall R2019 and re-install it.

[2018-05-03 17:32] zidasik opened #2036 "Error "There are not enough quotas..." after lunch Dynamo script"
If this issue is with Dynamo for Revit, please post your issue on the [Dynamo for Revit Issues page](https://github.com/DynamoDS/DynamoRevit/issues).

## Dynamo version
2.0.0

## Operating system

Windows 10

## What did you do?

l lunched dynamo script which create 3d perspective cameras in 412 rooms

## What did you expect to see?

l expected  to see 412 3d perspective views

## What did you see

[2018-05-03 17:42] #1968 closed

[2018-05-03 19:49] mjkkirschner commented on #1968
@mengelmn what conflict message did raindrops introduce?

[2018-05-03 22:18] mengelmn commented on #1968
@mjkkirschner  - I received no message upon the addition of the package.  However Dynamo become immediatly slow to respond, at the point it did was the Libray was gone as in the original issue.  At this Time Dynamo was closed, Revit Restarted.  No Change, so then the I remove Raindrops, again restarted to be sure, no change.  Finally Removed Raindrops, and the Pnid Folder from both 2019 and 2018,

[2018-05-04 04:43] aminghali commented on #2024
@jnealb worked perfectly, thanks.

[2018-05-04 13:44] #2024 closed

[2018-05-05 20:24] pdickman12 opened #2037 "Trouble with Excel.ReadFromFile node"
Excel opens but stops responding with Excel.ReadFromFile node.

(Which version of Dynamo are you using? Go to Help > About if you're not sure.)

## 1.3.3.4651

(Which version of Revit are you using?)18.3.0.81

## Operating system: Windows 10 Pro

## What did you do?
![dynamoerrorexcel](https://user-images.githubusercontent.com/39013810/39667280-7c879eb6-5080-11e8-89df-409d33cca259.PNG)

(Tried to

[2018-05-06 15:10] JLMarCa opened #2038 "Rhythm failed to load. Error message"
Hello everyone

Could you help me solve this problem?
Thank you very much
Best regards to the community
JLMarCa

Error message
System.IO.FileLoadException

When I load the Rhythm mount, Version = 2018.3.15.0 I get 4 warnings with this information

Al cargar el montaje Rhythm, Version=2018.3.15.0, Culture=neutral, PublicKeyToken=null, Dynamo ha detectado que la dependencia RevitAPI, Version=18.0.0.

[2018-05-06 22:13] mjkkirschner commented on #2038
looks like you're loading a package for 2018 on 2017. It's probably safe to ignore if you don't notice any failures of the nodes.

[2018-05-08 13:08] gundelund opened #2039 "archilab/rhythm node issue"
## Dynamo version

2.0.0

## Revit version

2017

## Operating system

Windows 7

## What did you do?

Some nodes have issues with Dynamo 2.0.0 (see image below). It looks fine at first, but when I save the file and open it up again there is an issue. Every time the .dyn-file is opened, there is one more output from the nodes. The nodes are from archilab(2018.2.2) and Rhythm (2018.4.20). There was

[2018-05-08 13:40] ksobon commented on #2039
@gundelund thanks for reporting this. I will take care of the archi-lab.net node issue here: https://github.com/ksobon/archilab/issues/14

[2018-05-08 13:42] ksobon commented on #2039
@gundelund just to give you some context. this happens when package was not updated to 2.0 (which might be the case with rhythm), and if there are conflicting versions of Newtonsoft.json loaded into revit, so in theory it could be a conflict with other 3rd party package.

[2018-05-10 17:34] Racel commented on #2011
FYI - http://dynamobim.org/working-with-dynamo-in-revit-2016-and-revit-2019-simultaneously/

[2018-05-10 23:54] KuriPitomi opened #2043 "Excel.ReadFromFile Failing"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version

1.3.3.4111

## Revit version

2018.3

## Operating system

Windows 10 Pro

## What did you do?

Trying to create sheets in Revit from an Excel File. Opened up the "ImportExport_Excel to Dynamo.dyn" sample sc

[2018-05-11 11:36] ntikb opened #2044 "Minor bugs - F5, characters in code blocks, delete"
## Dynamo version
Dynamo Core: 2.0.0.4654
Dynamo Revit: 2.0.0.4655

## Revit version

Revit 2019 (19.0.0.405)
Build 20180216_1515(x64)

## Operating system

Windows 10

## What did you do?
1) Press F5 to run script
2) Delete node by del key on keyboard.
3) Delete characters in code block by del key on keyboard.
4) Add character " or ; in code block.
5) Ctrl+c / ctrl+v to copy/paste node or nodes.

[2018-05-11 13:45] QilongTang commented on #2044
This is a known Revit issue, please see discussion in https://github.com/DynamoDS/Dynamo/issues/8785 and https://github.com/DynamoDS/DynamoRevit/issues/2025.

[2018-05-11 13:45] #2044 closed

[2018-05-11 23:56] TimWaldock commented on #2011
@Racel, Thanks for the link to the blog post.  Yes I understand that we can have 1.3.2 and 2.0 running simultaneously - but the whole process is unnecessarily painful.  Anything that involves uninstall, reinstall, Regedit etc etc, is not a good process to have to go through.  The thing that concerns me is that this is all due to a decision somewhere by someone to only support 3 versions of Revit.

[2018-05-12 14:52] ThomasMahon opened #2046 "Improvement: RayBounce.ByOriginDirection organised under Revit.Elements.Element library and renamed to 'By Ray Bounce'"
## Dynamo version

2.0

## Revit version

2018

## Operating system

Win 10

## Improvement Suggestion
I find the RayBounce.ByOriginDirection oddly positioned in the library. Its essentially a selection node which would be more accessible (and logically organised) under the 'Selection' library.

The node doesn't return a RayBounce object (probably because no such object exists), plus how many meth

[2018-05-14 08:12] Thommmyy opened #2048 "Dynamo crash with every note"
Did a clean install and it still crashes. Help??

## Dynamo version

1.3.2.2480

## Operating system

Windows 10

## What did you do?

Everything i do now will give this error. saying the vertual machine is not working.

## What did you expect to see?

Getting elements of a Revit model.

## Error log

Object reference not set to an instance of an object.

   at ProtoCore.Utils.StringUtils.CompareS

[2018-05-14 09:07] Thommmyy commented on #2048
ATM, i found out that it only was not working with Conduit Fittings.

I'm still curious what the log is saying??

[2018-05-14 14:20] jnealb commented on #2048
@Thommmyy Can you share your Dynamo graph and Revit model with us? Are you running Revit 2016?

[2018-05-14 22:40] muireng opened #2049 "Clockwork view .scale doesn't seem to work in Dynamo 2.0"
## Dynamo version" 2.0
## Revit version: 2019
## Operating system
Windows 10 64bit

## What did you do?
My script broke when I imported it into Dynamo 2.0.
view.scale is returning null.

## What did you expect to see?
I was hoping that the node would still work...

## What did you see instead?
nope, doesn't work

![image](https://user-images.githubusercontent.com/39196237/40027098-1ff148a0-578d-11

[2018-05-15 22:15] dbaldacchino opened #2052 "Problem with Parameter.IsReadOnly"
If this issue is **not** a bug report or improvement request, please check the [Dynamo forum](https://forum.dynamobim.com/), and start a thread there to discuss your issue.

## Dynamo version: 1.3.2.2480

## Revit version: 2018.3.1

## Operating system: Windows 10 (x64)

## What did you do?

This node is not accepting lists. If I pass a list, I get this error which it asks to be reported:

![image

[2018-05-15 22:43] dbaldacchino commented on #2052
Ok, it WORKS with lists, but fails if there are nulls in the list. In my use case I made a selection of all objects by workset, so naturally there were built-in items that belonged to Workset1 (ID 0) which returned a null when I tried to check which parameters in the list were read-only. Cleaning out the nulls restored functionality.

[2018-05-16 07:18] Thommmyy commented on #2048
@jnealb  Thnx for your comment,

We use Revit 2017.
The working files:
https://we.tl/Iv6OxVsotP

Made a Detached Central file.
ziped my packages en shared my Dynamoscript to transfer elements into the worksets i want them to be in.

[2018-05-16 13:27] harlanbrumm commented on #2011
@TimWaldock and all.  I wanted to provide a little insight in where we are trying to go with Dynamo for Revit.  I do want to first acknowledge that we know the installation and update of Dynamo in relation to Revit isn't great and it creates a multitude of problems in all sorts of environments and it has a while now.  The fundamental problem has been that Dynamo for Revit was, and is today, really

[2018-05-16 20:32] aparajit-pratap commented on #2052
It looks like the node throws a null reference exception for null parameters that isn't checked. It should ideally have a null check: @jnealb @QilongTang

[2018-05-16 20:46] jnealb commented on #2052
Thanks @dbaldacchino - we have forwarded your report to the appropriate dev team.

[2018-05-16 20:46] #2052 closed

[2018-05-16 20:52] jnealb commented on #2049
@andydandy74 Is this on us or do we need the updated Clockwork package?

[2018-05-16 21:09] jnealb commented on #2048
@Thommmyy We can reproduce this crash thanks to the data you provided and will report back.

[2018-05-17 14:59] rbosborne commented on #2011
I have to somewhat agree with @TimWaldock on this.  Revit licensing supports current + 3 previous versions if you are on subscription.  [https://knowledge.autodesk.com/customer-service/account-management/users-software/previous-versions/eligible-previous-version-subscription]

Bigger projects (the ones with 300+ sheets that benefit even more from scripts that deal with setting submittal dates on s

[2018-05-18 05:08] andydandy74 commented on #2049
@jnealb Works fine on my end with Revit 2019, the latest Dynamo 2.0.1 daily build and the latest Clockwork for Dynamo 1.x version.
@muireng What you could do is unpack the custom node's contents into your graph and see what causes the error. Also perhaps try and see what happens if you place those nodes in a new graph.